  

  <div data-role = "footer" class = "footer">
                <footer class="footer-basic-centered" id = "foot">
                    <p class="footer-company-motto">Life is short play more</p>
                    <p class="footer-links">
                        <a id="home" href="#">Home</a>
                        ·
                        <a id="contact" href="#">Contact</a>
                        ·
                        <a id="dreamhackse" href="#">DreamHack.se</a>
                        ·
                        <a id="info" href="#">Info</a>
                    </p>
                    <p class="footer-company-name">DREAMSPACE AB &copy; 2015</p>
                </footer>
            </div>
            <script>
                        $('#home').click(function() {
                            window.location=''; });
                        $('#contact').click(function() {
                            window.location=''; });
                        $('#dreamhackse').click(function() {
                            window.location=''; });
                        $('#info').click(function() {
                            window.location=''; });
                    </script>