
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>DreamSpace</title>


        <!-- JQuery Mobile -->
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

        <!-- Stylsheet main and images -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/dreamhack-logo.png")">
        <!-- Javascripts -->
        
		 <!-- Responsive menu -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/rmm-css/responsivemobilemenu.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/rmm-js/responsivemobilemenu.js")"></script>

        <!-- Responsive footer -->
        <link rel="stylesheet" href = "@routes.Assets.at("stylesheets/footer/footer-basic-centered.css")">
        <!-- JQuery ui -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- Icon package -->
        <link rel="stylesheet"  href="dist/jqm-icon-pack-fa.css" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/facebookIcon/dist/jqm-icon-pack-fa.css")">