    
            
               
                <h1><img src="@routes.Assets.at("images/e3.png")" class = "fullscreen"></h1>
                <div class="rmm">
                    <ul>
                        <li><a id="home" href='#home'>Home</a></li>
                        <li><a id="newsFeed" href='#news'>News</a></li>
                        <li><a id="earenaFeed" href='#Earena'>EArena</a></li>
                        <li><a id="etournamentFeed" href='#ETournament'>ETournament</a></li>
                        <li><a href="#bars">MyMenu</a></li>
                    </ul>
					        <script>
                         $('#home').click(function() {
                                window.location='/'; });
                         $('#newsFeed').click(function() {
                                window.location='/newsfeed'; });
                         $('#earenaFeed').click(function() {
                                window.location='/mainearena'; });
                         $('#etournamentFeed').click(function() {
                             window.location='/mainetournament'; });
                         </script>
                </div>    
          