                
<div  style="float:right; padding-right:30px;">
     <a id="logged" data-role="button" rel = "external" href='#' data-theme="a" data-icon="user" data-inline = "true" data-shadow="false" style= "background:#FF6E00;  background:white; border:none;"> </a>
      <script>
     $(document).ready(function() {
  	   var currentuser = $.cookie("connected");
  	   $('#logged').append(currentuser);
     });
     </script>
     </div>
         
          <div  class="ui-bar ui-bar-b headern" style = "background:white; border:none;"> 
              <img  id ="bild" src="@routes.Assets.at("images/real.png")" class = "fullscreen headerImg" >
              <a href='#' id="h"  rel = "external" class=" ui-btn ui-btn-a customButton customButtonText bottomButton">Home</a>
              <a id="mail"rel = "external" href='#' class = "ui-btn ui-btn-a ui-btn-inline customButton customButtonText bottomButton"><div id="icon" class="icon" style="position: relative;"></div>Notifications</a>
              <a id ="menu-anchor" href="#popupMenu" data-rel="popup" data-position-to="#menu-anchor" class="ui-btn ui-btn-a ui-btn-inline customButton customButtonText bottomButton ">Menu</a>
          </div> 


      <script>
        $(document).ready(function() {
           if (window.location.pathname != "/mynotifications"){
           $.ajax({
               url: "/getNotificationAmt",
               type: 'GET',
               dataType: 'html',
               success: function(data) {
                   if (data > 0){
                   $("#icon").iosbadge({ theme: 'red', size: 22, content:data });
                   }
               },
           
            });
           }
            $('#h').click(function() {
              window.location='/'; 
            });
           $('#mail').click(function() {
              window.location='/mynotifications'; });
            $('#bild').click(function() {
              window.location='/'; 
            });
        });
    </script>
    <script>
        $("#h, #mail, #user, #menu-anchor ").css("background","  white");
     </script> 

  

