<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image.all.min.js")"></script>        
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image-ios.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image-orientation.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image-meta.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image-exif.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/loadimage/js/load-image-exif-map.js")"></script>

