  <div data-role = "footer" class = "footer">
  
                <footer class="footer-basic-centered" id = "foot">
                    <p class="footer-company-motto">Life is short play more</p>
                 
                    <p class="footer-company-name">DREAMSPACE AB &copy; 2015</p>
                    <br>
                       <p class="footer-company-name"> Copyright  &copy; 2011 Teijo Laine</p>
                </footer>
               
            </div>

<div data-role="footer" data-tap-toggle="false" class = "footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a id="h" href="#h"  data-icon="home"class="ui-alt-icon ui-btn ui-shadow"></a></li>
            <li><div id="icon" class="icon" style="position: relative;"></div><a id="mail" href="#mail" data-icon="mail" class="ui-alt-icon ui-btn ui-shadow" ></a></li>
            <li><a id = "user" data-icon="user" class="ui-alt-icon ui-btn ui-shadow"></a></li>
            <li><a id="panelmenu" href="#bars" data-icon="bars" class="ui-alt-icon ui-btn ui-shadow"></a></li>
        </ul>
    </div>
</div>

        <script>
       $(document).ready(function() {
           if (window.location.pathname != "/mynotifications"){
           
           $.ajax({
               url: "/getNotificationAmt",
               type: 'GET',
               dataType: 'html',
               success: function(data) {
                   if (data > 0){
                   $("#icon").iosbadge({ theme: 'red', size: 22, content:data });
                   }
               },
           
            });
           }
       });
       
            $('#h').click(function() {
                
                window.location='/'; });

            $('#mail').click(function() {
                 
                window.location='/mynotifications'; });

            $('#user').click(function() {
               window.location='/myprofile'; });

            $('#info').click(function() {
                window.location='/'; });
   
    </script>
     <script>
        $("#h, #mail, #user, #panelmenu ").css("background","  #FF9900");
     </script>