              <div data-role="panel" id="bars" data-display="overlay" class = "slide-menu">

                     <a href="#" id="myProfile" data-role="button" data-icon="user" class="my-btn">MyProfile</a>
                     <a href="#" id="packlist" data-role="button" data-icon="tag" class="my-btn">MyPacklist</a>
                     <a href="#" id="earena" data-role="button" data-icon="action" class="my-btn">MyEarena</a>
                     <a href="#" id="etournament" data-role="button" data-icon="action" class="my-btn">MyEtournament</a>
                    <button id="logout">Logout</button>
                     
                     <script>
                            $('#myProfile').click(function() {
                                window.location='/packlist'; });
                            $('#packlist').click(function() {
                                window.location='/packlist'; });
                            $('#earena').click(function() {
                                window.location='/packlist'; });
                            $('#etournament').click(function() {
                                window.location='/packlist'; });
                      
                        $('#logout').click(function() {
                             FB.getLoginStatus(function(response) {
                                 if (response.status === 'connected') {
                                FB.logout(function(response) {
                        	        window.location='/logout';
                        	    });
                                 } else { 
                                     window.location='/logout';
                                 }
                            });
                        });

                    </script>
            </div>