         <div data-role="popup" id="popupMenu" data-theme="a" >
                <ul data-role="listview" data-inset="true" style="min-width:210px;">
                    <li><a href="#" id="myProfile" data-role="button" data-icon="user">My profile</a></li>
                     <li><a href="#" id="EArena" data-role="button" data-icon="tag">EARENA</a></li>
                     <li><a href="#" id="etournament" data-role="button" data-icon="tag">ETOURNAMENT</a></li>
                     <li><a href="#" id="packlist" data-role="button" data-icon="shop">PACKLIST</a></li>
                     <li><a href="#" id="gallery" data-role="button" data-icon="camera">GALLERY</a></li>
                      <li><a href="#" id="users" data-role="button" data-icon="eye">Profiles</a></li>
                    <li> <a href "#" id="logout">Logout</a></li>
                       
                </ul>
                     <script>
                            $('#EArena').click(function() {
                                window.location='/mainearena'; });
                            $('#etournament').click(function() {
                                window.location='/mainetournament'; });
                            $('#packlist').click(function() {
                                window.location='/packlist'; });
                            $('#gallery').click(function() {
                                window.location='/pictures'; });
                            $('#myProfile').click(function() {
                                window.location='/myprofile'; });
                            $('#users').click(function() {
                                window.location='/profiles'; });
                           $('#logged').click(function() {
                                window.location='/myprofile'; });
                      
                        $('#logout').click(function() {
                             FB.getLoginStatus(function(response) {
                                 if (response.status === 'connected') {
                                FB.logout(function(response) {
                        	        window.location='/logout';
                        	    });
                                 } else { 
                                     window.location='/logout';
                                 }
                            });
                        });
                    </script>
                </div>

