	#adinfo{	
		width: 100%;

	}
	#grid{
		padding-left: 2%;
		padding-right: 2%;
	}
	#adreplies{
		width: 100%;
		
	}
	#replyfielddiv{
		width: 100%;
	}
	#MEArenaContent{
    width: 100%;
    margin: 0 auto;
    
	}
	@media all and (max-width: 36em){
		#MEArenaContent{
    	width: 100%;
		}
	}
	.ui-page .ui-btn.myFace{
		background: #3A5795;
	}
		.faceButton{
		width: 200px;
		max-width: 200px;

	}
	.ui-page .ui-btn.submitReplay{
		background: #FA7C04;
	}
	@media all and (max-width: 36em){
 		.faceButton{
		width: 170px;
		max-width: 170px;

	}

    
    }
@media all and (min-width: 50em){

	#MEArenaContent{
    	width: 500px;
    	margin: 0 auto;
	}
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c{ 
		width: 100%; 
		float:none; 
	}
	#MAEcheckbox{
		width: 500px;
    	margin: 0 auto;
	}
	#createAEform{
	max-width: 500px;
	margin: 0 auto;
}

	.wrap{
		overflow:hidden;
		width:99%;
		margin: 0 auto;
		max-width: 800px;
	
	
	}
	#wrap2{
		overflow:hidden;
		width:100%;
		margin: 0 auto;
		max-width: 800px;
		padding-left: 1%;
		padding-right: 1%;
	}
	#adinfo{
		position: relative;
		float: left;
		width: 49%;
      	padding-left: 1%;
		

	}
	#adreplies{
		position: relative;
		width: 49%;
		float: right;
		padding-left: 1%;
	}
	#replyfielddiv{
		position: relative;
		float: left;
		width: 49%;
      	padding-left: 1%;

	}
		.search{
		width: 550px;
		margin:0 auto;
		max-width: 550px;
		
	}
	.faceButton{
		width: 200px;
		max-width: 200px;

	}



}