	#adinfo{	
		width: 100%;
      
		

	}
	#adreplies{
		width: 100%;
		
	}
	#replyfielddiv{
		width: 100%;
	}
	#MEArenaContent{
    width: 100%;
    margin: 0 auto;
    
	}
	@media all and (max-width: 36em){
		#MEArenaContent{
    	width: 100%;
		}
	}

@media all and (min-width: 50em){

	#MEArenaContent{
    	width: 500px;
    	margin: 0 auto;
	}
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c{ 
		width: 100%; 
		float:none; 
	}
	#MAEcheckbox{
		width: 500px;
    	margin: 0 auto;
	}
	#createAEform{
	max-width: 500px;
	margin: 0 auto;
}

	#wrap{
		overflow:hidden;
		width:99%;
		margin: 0 auto;
		max-width: 800px;
	
	
	}
	#wrap2{
		overflow:hidden;
		width:100%;
		margin: 0 auto;
		max-width: 800px;
		padding-left: 1%;
		padding-right: 1%;
	}
	#adinfo{
		position: relative;
		float: left;
		width: 49%;
      	padding-left: 1%;
		

	}
	#adreplies{
		position: relative;
		width: 49%;
		float: right;
		padding-left: 1%;
	}
	#replyfielddiv{
		position: relative;
		float: left;
		width: 49%;
      	padding-left: 1%;

	}



}