@import url(main.css);

    @media all and (min-width: 60em){
        .content{
            padding: 15px 15px;
            margin:0 auto;
            width:500px;
            background: #151515;

        }
        .header{
            margin:0 auto;
            background: #151515;
            width: 530px;
        }
        .footer{
            margin:0 auto;
            background: #151515;
            width: 530px;

        } 