
      .headerImg{
        width: 350px;
        height:150px;
    }
    .ui-page{
            
        background: url("../images/LOGIN.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%
    }

    .ui-content{
            padding: 5% 5%;
            width:500px;
            background: transparent;
            margin: 0 auto;
            margin-top: 200px;
            border-radius: 25px;
            border:2px solid #DADADA;
    }

    .ui-page .ui-btn  {
        color      : white;
        background : #DADADA;
        
    }   ​

    .ui-page .ui-btn.goBackButton  {
    color      : white;
    background : #996600;


    }​
  

    .fullscreen{
        max-height: 100%;
        max-width: 100%;
    }

    .loginBox{
        margin: 0 auto;
        width: 300px;
    } 

    #facebook{
        text-align: center;
    }

    .headerPic{
        text-align: center;
    }

    .custom-centercollheader a {
        text-align: center !important;
        padding-right: 2.5em !important;
    }
  
    .center-button{
            margin: 0 auto;
    }
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    border:none;
    color:black;
}
    @media all and (max-width: 36em){
        .ui-page{
            background:white;
             width: 100%;
        }
        .ui-content{
            padding: 5% 5%;
            width:auto;
            background: transparent;
            margin: 0 auto;
            margin-top: 0px;
            border-radius: 0px;
            
                     }

      .loginBox{
        margin: 0 auto;
        width:auto;
    } 
          .headerImg{
        width: 250px;
        height:100px;
    }

    }

    @media all and (min-width: 60em){
         
        .ui-page{
        background: black url("../images/LOGIN.jpg")no-repeat scroll center top;;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%

        }
        .ui-content{
         
            width:500px;
            background: transparent;
            margin: 0 auto;
            margin-top: 200px;
            border-radius: 25px;
            border:2px solid #DADADA;
        }
        .myClass.ui-btn-inner{
            padding: 0px;
        }
         .headerImg{
        width: 350px;
        height:150px;
    }
   
        .loginBox{
            margin: 0 auto;
            width: 300px;
        } 
        #facebook{
            text-align: center;
        }
   
}