.eadColours{
	  width: 60px;
    height: 60px;
    margin: 5px;
    float: left;
}

#pagination{
	visibility: hidden;
}

.ui-page .ui-header {
    background:#FFFFFF;
}

.ui-page{
    background: white;
}

.ui-content{
    background: white;
    padding: 5% 5%;
    margin:0 auto;
}

.ui-page .ui-btn  {
color      : white;
background : #FF9900;
}​

.ui-page .ui-footer {
    background:#FFFFFF;
}
.standardBox{
    width: 300px;
    margin: 0 auto;
}

.flowBox{
    width: 500px;
    margin: 0 auto;
}

.centerDiv{
    text-align: center;
}
.facebookButton{
    width: 150px;
    max-width: 150px;
}
.ui-page .ui-btn.facebookColor{
    background: #3A5795;
}
.centerButton{
    margin:0 auto;
}

.ui-page .ui-btn.goBackButton  {
    color      : white;
    background : #996600;
}​

.ui-page .ui-btn.submitReplay{
    background: #FF9900;
}

.facebook2{
    width: 65px;
    max-width: 65px;
}

.navrow{
    list-style:none;
    display:inline; 
    padding: 0 10px;
    float: right;
}

.ui-autocomplete {
    list-style-position: inside;
    padding: 0;
    border: 1px solid #1D1D1D;
    background-color: #2A2A2A;
    list-style-type: none;
    width:300px;
    cursor:pointer;
    box-shadow:0 0 15px #195166;
}

.ui-autocomplete li:hover{
    background-color:#1A586F;
}

.fullscreen{
    max-height: 100%;
    max-width: 100%;
}


.slide-menu{ 
    max-width:75%;
}
 
.custom-centercollheader a {
    text-align: center !important;
    padding-right: 2.5em !important;
}
 .ui-page .ui-btn.customButton{
        width: 100px;
        font-size: 15px;
        border: 7px solid #FF5E01;
        border-top:none;
        border-bottom: none;
        border-right: none;    
        background:#FFFFFF;
        font-family:Helvetica;
        font-weight: bold;
    }

    .headerImg{
        margin-bottom: -20px; 
        padding-right: auto; 
        padding-left: 0;
        width: 230px;
        height:100px;
         float: center;
    }
    .block{
      
        height: 100px;
    }
    .headern{
        text-align: center;
    }

.imgCut{
    max-Width: 150px;
    max-Height: 150px;
    min-Width: 100px;
    min-Height: 50px;
}

.imgFloat{
    display: inline-block;
    padding:2px;
 
}

    .textBox{
    
      overflow: auto;
        margin:0 auto;
        padding: 5px;
         box-shadow: 10px 10px 5px #888888;

    }
    .paddingAblock{
        padding-top:15px;
    }

#pagination{
    visibility: hidden;
}

#bracket {
    color:black;
    text-shadow:0 0px 0 #111;
    overflow:auto;
}
#pagination{
    visibility: hidden;
}

#currentPage{
    float: right;
}

#pagebuttons{
    float:middle;
}

#adinfo{    
    width: 100%;    
} 

#grid{
    padding-left: 2%;
    padding-right: 2%;
}

#adreplies{
    width: 100%;
}

#replyfielddiv{
    width: 100%;
}

@media all and (max-width: 36em){
    .ui-page{

        background: white;
    }

    .ui-content{
        background: white;

    }

    .flowBox{
        width: 100%;
        }

    .facebookButton{
        width: 150px;
        max-width: 150px;
    }

    .facebookButton2{
        width: 65px;
        max-width: 65px;
    }


    .imgCut{
        max-Width: 75px;
        max-Height: 75px;
        min-Width: 75px;
        min-Height: 75px;
    }
    .imgFloat{
        display: inline-block;
        padding:2px;
        
    }


     .ui-page .ui-btn.customButton{
        width: 60px;
        font-size: 10px;
        border: 2px solid #FF5E01;
        border-top:none;
        border-bottom: none;
        border-right: none;   
        background:#FFFFFF;
        font-family:Helvetica;
        padding-top: 10px;
        font-weight: bold;
    }


    .headerImg{
        margin-bottom: -30px; 
        width: 350px;
        height:100px;
        text-align:center;
        padding-bottom: 20px;
    }
    .block{
      
        height: 60px;
    }
    .bottomButton{
    }
    .headern{
        text-align: center;
    }
     
}

@media all and (min-width: 60em){

    .ui-page{
        background: white;
    }
    
    .ui-content{
        padding: 15px 15px;
        margin:0 auto;
        width:1200px;
        background: white;
    }
    
    .ui-page .ui-header{
        margin:0 auto;
        
    }

    .ui-page .ui-footer {
        margin:0 auto;	
    }

    .flowBox{
        width: 500px;
        margin: 0 auto;
         box-shadow: 10px 10px 5px #888888;
    }

    .standardBox{
        width: 350px;
        margin:0 auto;
        max-width: 350px;
    }

    .my-breakpoint .ui-block-a, 
    .my-breakpoint .ui-block-b, 
    .my-breakpoint .ui-block-c{ 
        width: 100%; 
        float:none; 
    }
    .wrap{
        overflow:hidden;
        width:99%;
        margin: 0 auto;
        max-width: 800px;
    }
  
    .faceBookButton{
        width: 150px;
        max-width: 150px;
    }

    .facebookButton2{
        width: 65px;
        max-width: 65px;
    }

    .imgCut{

        max-Width: 350px;
        max-Height: 350px;
        min-Width: 350px;
        min-Height: 350px;
        
   
    }
   .imgFloat{
        display: inline-block;
        padding:2px;
    }
    .blockPadding{
        padding:20px;
    }
    .textBox{
      width: 400px;
      height: 400px;
      overflow: auto;
        margin:0 auto;
         box-shadow: 10px 10px 5px #888888;
        padding: 5px;


    }
    .paddingAblock{
        padding-top:15px;
    }
  

    .ui-page .ui-btn.customButton{

        width: 120px;
        font-size: 20px;
        border: 7px solid #FF5E01;
        border-top:none;
        border-bottom: none;
        border-right: none;    
        background:#FFFFFF;
        font-family:Helvetica;
        font-weight: bold;

    }

    .headerImg{
        margin-bottom: -30px; 
        padding-right: 70px; 
        padding-left: 50px;
        width: 300px;
        height:100px;
    }
    .block{
      
        height: 100px;
    }
  
      .headern{
        text-align: left;
    }
    #adinfo{
        position: relative;
        float: left;
        width: 49%;
        padding-left: 1%;
    }

    #adreplies{
        position: relative;
        width: 49%;
        float: right;
        padding-left: 1%;
    }

    #replyfielddiv{
        position: relative;
        float: left;
        width: 49%;
        padding-left: 1%;
    }

}

