@import url(main.css);

	#mainTournamentContent{
    width: 100%;
    margin: 0 auto;
    
} 
body .ui-li .ui-li-desc {
 white-space: normal;
 }

@media all and (max-width: 36em){
	#mainTournamentContent{
    width: 100%;
	}
}

@media all and (min-width: 50em){
    #mainTournamentContent{
    width: 500px;
    margin: 0 auto;

	} 

} 
