
	#MEArenaContent{
    width: 100%;
    margin: 0 auto;
    
	}

	@media all and (max-width: 36em){
		#MEArenaContent{
    		width: 100%;
		}
	}

	@media all and (min-width: 50em){
    	#MEArenaContent{
    		width: 500px;
    		margin: 0 auto;
		}
		.my-breakpoint .ui-block-a, 
		.my-breakpoint .ui-block-b, 
		.my-breakpoint .ui-block-c{ 
		width: 100%; 
		float:none; 
	}
	#blockBox{
		width: 500px;
    	margin: 0 auto;
	}

	} 
