

#info{
	background: #373737;
	padding: 1em;
}
	#p1{	
		width: 100%;
      
		

	}
	#p2{
		width: 100%;
		
	}

@media all and (min-width: 50em){

	#wrap{
		overflow:hidden;
		width:99%;
		margin: 0 auto;
		max-width: 800px;
	
	
	}
	#p1{
		position: relative;
		float: left;
		width: 49%;
      
		

	}
	#p2{
		position: relative;
		width: 49%;
		float: right;
	}



}