/*      #avatarpic{
            padding: 1em;
    
          }

        .section{
          width:100%;
          padding:10px;
          border: 2px solid orange;
          margin:5px auto;
          overflow: hidden;
        }

        .divLayoutcontact {
          float:left;
        }*/