@(games: List[String])

<!DOCTYPE html>
<html>
    <head>
        <title>Create EArenaAd</title>
        @Templates.head()
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/image-picker/image-picker.min.js")" ></script>
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/image-picker/image-picker.css")">
        
        @Templates.facebookHeadScript()
        <meta charset="UTF-8">
    </head>
    <body>
    <div data-role="page" data-theme="c" id = "main">
	   <div data-role="header">
	       @Templates.header()
                 <a id = "back" rel="external" href="/mainearena" data-role="button" role="button" data-icon="back" data-iconpos="notext">Back</a>
	   </div>
       
<div data-role="content" Style = "padding:0">
            <div class="ui-grid-solo ui-responsive">
              <img src="@routes.Assets.at("images/CREATEANAD.jpg")" alt="tPicture" class = "fullscreen" />
            </div>

            <div style="width:100% ; text-align:center">
              <p>
                <b>Create an ad</b><br>
                Here you can upload an ad and find<br>
                other players for you and your friends<br> 
                in your upcoming games!
              </p> 
            </div>

            <div class="ui-grid-solo ui-responsive">
              <div class="ui-block-a"><b><h3 style="margin:0">Fill in the fields below to create your ad!</h3></b><hr></div>
            </div>
            <br>

            <div class="ui-grid-a ui-responsive">
              <div class="ui-block-a">
            <img src="@routes.Assets.at("images/createad.PNG")" alt="tPicture" class = "fullscreen" />

              </div>
              <div class="ui-block-b">


                <div class = "standardBox">
                <form id ="EArenaForm"  method ="post" action="@routes.EArenaDatabase.addEArenaAd()" data-ajax="false">
                   
                 <div class="ui-grid-a  ui-responsive"> 
                   <div class="ui-block-a" style="width:40%;"><label><input checked type="radio" name="adType" value="Game Ad" class="adType">GameAd</label></div>
                    <div class="ui-block-b" style="width:60%;"><label><input type="radio" name="adType" value="Tournament Ad" class="adType">TournamentAd</label></div>
                    </div>
                    
                    <div data-role="collapsible" class="ui-icon-alt" data-collapsed-icon="grid" data-expanded-icon="grid" data-iconpos="right" style="background-color:#DBDBDB" >
                    <h3 class = "custom-centercollheader" >Choose an icon</h3>
                    
                        <select class="image-picker hide-html" id="imgpick" name="logo" >
                          <option data-img-src="@routes.Assets.at("images/gamelogos/game.png")" value="game.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/brack.png")" value="brack.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/csgo.png")" value="csgo.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/wow.png")" value="wow.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/mc.png")" value="mc.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/hs.png")" value="hs.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/lol.png")" value="lol.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/rust.png")" value="rust.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/bf4.png")" value="bf4.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/sc.png")" value="sc.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/gtav.png")" value="gtav.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/dota.png")" value="dota.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/d3.png")" value="d3.png"></option>
                        </select>
                      
                    </div>
                    


                    <div data-role="fieldcontain" class="ui-hide-label">
                        <label for="arenaName">Arena Ad Name:</label>
                        <input type="text" name="arenaName" id="arenaName" value="" style="background-color:#53585F;color:white" placeholder="Arena Ad Name"/>
                    </div>
                 
                    <div data-role="fieldcontain" class="ui-hide-label">
                        <label for="gameName" >Game:</label>
                        <input type="text" name="gameName" id="game" value="" style="background-color:#53585F;color:white" placeholder="Game "/>
                    </div>
                    <div data-role="fieldcontain" class="ui-hide-label">
                        <label for="playersRequired" >Players Required:</label>
                        <input type="number" min="1" max="100" name="playersRequired" id="playersRequired" value="" style="background-color:#53585F;color:white" placeholder="Players Required"/>
                    </div>
                    <div data-role="fieldcontain" class="ui-hide-label">
                        <textarea style="background-color:#53585F;color:white" placeholder="Enter some information about your ad here!" name="information" id="informationArea" rows="4" cols="50" ></textarea>
                    </div>
                    
                    <div data-type="horizontal" style="text-align:center;">
                        <button type="submit" value="Create EArena Ad" data-inline = "true" onclick="return validate()"><b>UPLOAD</b></button><br>
                        <a data-role = "button"  type="button" data-inline = "true" rel="external" href="/mainearena" style="background:#FF9900">CANCEL</a>

                    </div>
                    <p id="warning"></p>
                </form>
            </div>



              </div>
            </div>


            
            <script type="text/javascript">
	           $(function() {
		          var games = @Html(games.toString())
		              $( "#game" ).autocomplete({
		                  source: games
		              });
		              
		              $("#imgpick").imagepicker();
		              
	            });    

         	 function errorInField(){
            	 $("#warning").css('color', 'red');
                 $('#warning').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
                 $('#redcross').width(40);
                 $('#redcross').height(40);
            }

              
              function validate() {
            	   var blnValid = true;

            	   if (isBlank("arenaName")) {
            	     blnValid = false;
            	     $("#warning").html('Please enter a name for your EArena Ad!');
            	     errorInField()
            	     document.getElementById("arenaName").focus();
            	   }
            	   if (blnValid) {
            	     if (isBlank("game")) {
            	       blnValid = false;
            	       $("#warning").html('Please enter the name of your game!');
            	       errorInField()
            	       document.getElementById("game").focus();
            	     }
            	   }
            	   if (blnValid) {
            	     if (isBlank("playersRequired")) {
            	       blnValid = false;
            	       $("#warning").html('Please provide the amount of players you are lookng for! Numbers only!');
            	       errorInField()
            	       document.getElementById("playersRequired").focus();
            	     }
            	   }

            	   if (blnValid) {
            	     if (isBlank("informationArea")) {
            	       blnValid = false;
            	       $("#warning").html('Please provide some information about your ad!');
            	       errorInField()
            	       document.getElementById("informationArea").focus();
            	     }
            	   }

            	   return blnValid;
            	 }



            	 function isBlank(elementID) {
            	   if (document.getElementById(elementID).value.length == 0) {
            	     return true;
            	   }

            	   return false;
            	 }
            
            </script>
                </div>
                
                
@Templates.footer()
@Templates.panelAndLogOut()
</div>
@Templates.jsDisabled()
</body>
</html>
