@(message: String)

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()

        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
		
		<script type="text/javascript" src="@routes.Assets.at("javascripts/image-picker/image-picker.min.js")" ></script>
        <link rel="stylesheet" href="@routes.Assets.at("javascripts/image-picker/image-picker.css")">
        @Templates.facebookHeadScript()
        
    </head>
    
    <body>

     <div data-role="page" data-theme="c">   
        <div data-role="header">
            @Templates.header()
            <a id = "back" rel="external" href="/myetournaments" data-role="button" role="button" data-icon="back" data-iconpos="notext">Back</a>

        </div>
        
        <div data-role="content" style = "padding:0">
            <div class="ui-grid-solo ui-responsive">
            <img src="@routes.Assets.at("images/CREATETOURNAMENT.jpg")" alt="tPicture" class = "fullscreen" />
        </div>

        <div style="width:100% ; text-align:center">
            <p>
                <b>Create a tournament!</b><br>
                Why don’t take the excitement of<br>
                gaming to the next level and make a<br>
                tournament for you and your friends?<br>
                Click on the infobox below to read more<br>
                of how it’s done!
                </p> 
        </div>
        

        <div id = "bracketcontent" style="text-align:center">
            <a href="#popupCloseRight" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-info ui-btn-icon-left ui-mini">Info</a>
            <div data-role="popup" id="popupCloseRight" class="ui-content" style="max-width:280px;background:#DBDBDB">
                <a href="#" id="close" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext  ui-btn-right">Close</a>
                <p>You can change the name of the teams in your tournament by clicking the respective team label, you can also change the score by clicking the label after the team name. The information field will only be visible to players who you have invited to the tournament. <strong>Changing the amount of players resets the entire tournament!</strong></p>
            </div>

            <script type="text/javascript">
               $("#close").css("background","  #FF0000 ");
            </script>

            <div id='bracket' class = "bracket"></div>
            
            <div id='bracketForm' class = "standardBox">

                <form name="bracketGenerate">
                    <input type="text" name="fname" id="fname" placeholder="Name of your tournament" style="color:white;background:#53585F">
                        Amount of players: 
                    <select id="amount" data-role = "button" data-inline = "true" style="color:white;background:#53585F">
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option value="32">32</option>
                    </select> 
        			<div data-role="collapsible" class="ui-icon-alt" data-collapsed-icon="grid" data-expanded-icon="grid" data-iconpos="right"  >
                    <h3 class = "custom-centercollheader" >Choose a Game Icon</h3>
                        <select class="image-picker hide-html" id="imgpick" name="logo" >
                          <option data-img-src="@routes.Assets.at("images/gamelogos/game.png")" value="game.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/brack.png")" value="brack.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/csgo.png")" value="csgo.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/wow.png")" value="wow.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/mc.png")" value="mc.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/hs.png")" value="hs.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/lol.png")" value="lol.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/rust.png")" value="rust.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/bf4.png")" value="bf4.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/sc.png")" value="sc.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/gtav.png")" value="gtav.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/dota.png")" value="dota.png"></option>
                          <option data-img-src="@routes.Assets.at("images/gamelogos/d3.png")" value="d3.png"></option>
                        </select>
                    </div>
                    
                    <div data-role="fieldcontain" class="ui-hide-label">
                        <textarea placeholder="Enter some information about your Tournament here. This will only be visible to invited players" name="information" id="informationArea" rows="4" cols="50" ></textarea>
                    </div>
       
                    <input data-role = "button"  type="button" value="CREATE" id="create">
                    <p id="warning"></p>
                </form>
                <a data-role = "button"  type="button" rel="external" href="/myetournaments" style="background:#FF9900">CANCEL</a>
            </div>


            
            <script type="text/javascript">
   
            $(function() {
            	$("#imgpick").imagepicker();
            	
                generateBracket($('#amount').val());
                
                var data;
                
                function saveFn(data) {
                    
                }
                
                function generateBracket(playerAmount) {
                
                var teamData = {
                teams : [] 
                };
                
                playerAmount = playerAmount /2
                
                var j = 1;
                for (i = 0; i < playerAmount; i++) { 
                teamData.teams[i] = ["Team " + j, "Team " + ++j];
                j++;
                }
                
                var container = $('#bracket')
                container.bracket({
                  init: teamData,
                  save: saveFn
                })
                
                $('.tools').remove();
              
                data = container.bracket('data') ;
             
                }
                
                $("#amount").change(function() {
               
                var players = Number($('#amount').val());
                
                switch(players) {
                case 4:
                generateBracket(4);
                    break;
                case 8:
                generateBracket(8);
                    break;
                case 16:
                generateBracket(16);
                    break;
                case 32:
                generateBracket(32);
                    break;
                
                }
                
                
            });


            $("#create").click(function() {
                if($('#fname').val().length >3){
                var teams = data.teams
                var results = data.results
 
                  $.ajax({
                        url: "/savetournament",
                        type: 'POST',
                        contentType:'application/json',
                        data: JSON.stringify({name :  $('#fname').val(), amount: $('#amount').val(), teams: teams, results: results, info: $('#informationArea').val(), logo : $('#imgpick').val()}),
                        dataType : 'html',
                        success: function(){
                            alert("Tournament created!");
                            window.location = "/myetournaments"; 

                        }
                    });
                }else{
                	
                	 $("#warning").html("Tournament Name is too short! Please enter a minimum of 4 characters");
                	 $("#warning").css('color', 'red');
                     $('#warning').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
                     $('#redcross').width(40);
                     $('#redcross').height(40);
                	
                }
                    });

            });
        </script>
    </div>
        

    </div>
  
            @Templates.footer()
            @Templates.panelAndLogOut()
        </div>
    @Templates.jsDisabled()
    </body>
</html> 
