@(eAd: EArenaAd, eAdReplies: List[AdReply])
<!DOCTYPE html>
<html>
   <head>
      <title>Edit your EArena Ad</title>
      @Templates.head()
      
      @Templates.facebookHeadScript()
      <meta charset="UTF-8">
   </head>
   <body>

        <div data-role="page" data-theme="b" id = "main" class = "page"  >
             <div data-role="header" class = "header">
	       @Templates.header()
	       </div>
            <div data-role="content" class = "content">
                <div class = "wrap">
                    <h1 align="center">Your EArena Ad</h1>
                    
                    <button id="share_button" class = "myFace faceButton search" data-mini="true">Facebook Share</button>
                    
                    <button type='button' id='editearenaad' value='Edit EArenaAd' class = "submitReplay" data-icon="arrow-d">Edit EArenaAd</button>
                    <div id="editad" style="display: none;">
                        <div data-role="fieldcontain"class="ui-hide-label">
                            <label for="arenaName">Arena Ad Name:</label>
                            <input type="text" name="arenaName" id="arenaName" value="@eAd.arenaName" placeholder="Arena Ad Name"/>
                        </div>
                        <div data-role="fieldcontain" class="ui-hide-label">
                            <label for="gameName" >Game:</label>
                            <input type="text" name="gameName" id="game" value="@eAd.gameName" placeholder="Game "/>
                        </div>
                        <div data-role="fieldcontain" class="ui-hide-label">
                            <label for="playersRequired" >Players Required:</label>
                            <input type="number" min="1" max="100" name="playersRequired" id="playersRequired" value="@eAd.playersRequired" placeholder="Players Required"/>
                        </div>
                        <div data-role="fieldcontain" class="ui-hide-label">
                            <textarea placeholder="Enter some information about your ad here!" name="information" id="informationArea" rows="4" cols="50"  >@eAd.information</textarea>
                        </div>
                        <div style="display: none;">
                            <input type="id" name="id" id="id" value="@eAd.arenaID"/>
                        </div>
                        <button  class = "my-btn"  id="updateearena"  value="Update EArena Ad" onclick="validate()">Update EArena Ad </button>
                        <button data-role = "button" value="Delete EArena" id="deletearena" class = "submitReplay">Delete EArena</button>
                            <p id="warning"></p>
                        </div>
                    </div>

            <script type="text/javascript">
            $(document).ready(function() {
              $('#share_button').click(function(e) {
                e.preventDefault();
                FB.ui({
                  method: 'feed',
                  name: 'EArenaAd: @eAd.arenaName',
                  link: document.URL,
                  caption: "@eAd.admin" +" is looking for people to play @eAd.gameName" ,
                  description: "Information about EArenaAd: @eAd.information"
                });
              });
            });
            </script>
            
            <script type="text/javascript">
              

               function errorInField(){
                	 $("#warning").css('color', 'red');
                     $('#warning').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
                     $('#redcross').width(40);
                     $('#redcross').height(40);
                }
               
                  function validate() {
                	   var blnValid = true;
               
                	   if (isBlank("arenaName")) {
                	     blnValid = false;
                	     $("#warning").html('Please enter a name for your EArena Ad!');
                	     errorInField()
                	     document.getElementById("arenaName").focus();
                	   }
                	   if (blnValid) {
                	     if (isBlank("game")) {
                	       blnValid = false;
                	       $("#warning").html('Please enter the name of your game!');
                	       errorInField()
                	       document.getElementById("game").focus();
                	     }
                	   }
                	   if (blnValid) {
                	     if (isBlank("playersRequired")) {
                	       blnValid = false;
                	       $("#warning").html('Please provide the amount of players you are lookng for! Numbers only!');
                	       errorInField()
                	       document.getElementById("playersRequired").focus();
                	     }
                	   }
               
                	   if (blnValid) {
                	     if (isBlank("informationArea")) {
                	       blnValid = false;
                	       $("#warning").html('Please provide some information about your ad!');
                	       errorInField()
                	       document.getElementById("informationArea").focus();
                	     }
                	   }
                       if(blnValid){
                            send()               
                    }else{
                        	   return blnValid;
                       }
                	 }
               
                	 function isBlank(elementID) {
                	   if (document.getElementById(elementID).value.length == 0) {
                	     return true;
                	   }
               
                	   return false;
                	 }
                
               function send() {
                  
                
                      $('#editad').toggle('show');
               
                 var data = {"arenaName":$('#arenaName').val(), "information":$('#informationArea').val(),"gameName":$('#game').val(),"playersRequired":$('#playersRequired').val(),"id":$('#id').val()};
                    $.ajax({
                          url: "/updateearenaad",
                          type: 'POST',
                          contentType:'application/json',
                          data: JSON.stringify(data),
                          dataType : 'html',
                          success: function(data ){
                          	location.reload();
                          }
                      });
                  }
               
               
               
               ////////////////////////////////////Delete button////
               
               var deleteconfirmation = false;
                $("#deletearena").click(function() {
                if (deleteconfirmation == false){
                    $("#deletearena").html("Are you sure?");
                    deleteconfirmation = true;
                } else {
          
        var data = {"id":"@eAd.arenaID"}
        $.ajax({
            url: "/deleteearena",
            type: 'POST',
            contentType:'application/json',
            data: JSON.stringify(data),
            dataType : 'html',
            success: function(){
                alert("Ad deleted");
                window.location.replace("/myearena");
            }
        });
        }
        });
               $(document).ready(function(){
               
                  $('#editearenaad').click(function() {        
                       $('#editad').toggle('show');
                  });
                           
               });
            </script>
                
                <div class = "wrap">
                    <div id="adinfo">
                        <article data-role="listview" data-inset="true" data-dividertheme="a"> 
                            <li><h2>@eAd.arenaName</h2>
                                <p>id: @eAd.arenaID</p>
                                <p>Creator: @eAd.admin</p>
                                <p>Game: @eAd.gameName</p>
                                <p>Created: @eAd.createdDate</p>
                                <p>Players required: @eAd.playersRequired</p>
                                <p>Information:</p> 
                                <textarea readonly name="textarea" id="text" style = "overflow:auto;resize:none">@eAd.information</textarea>
                            </li>
                        </article>
                        <label for="reply">Reply:</label>
                        <textarea placeholder="Post your reply here" name="reply" id="replyarea" rows="4" cols="50"></textarea>
                        <button type="submit" id="postreply" value="Submit Reply" class = "submitReplay" >Submit Reply </button>
                        <p id="warningreply"></p>
                    </div>
                    <div id="adreplies">
                         <article data-role="listview" data-inset="true" data-dividertheme="a">
                            @for(eAdReplies <- eAdReplies) {
                              <li  data-role = "list-divider" ></li>
                              <li><h2>@{eAdReplies.user + " - " + eAdReplies.createdDate}</h2>
                               <p>Reply:</p>
                               <textarea readonly name="textarea" id="text" style = "overflow:auto;resize:none">@{eAdReplies.content}
                                </textarea>
                                </li>
                            } 
                          </article>
                    </div>
                </div>
                
                <script>
                    $("#postreply").click(function() {
                        if($('#replyarea').val().length >2){
                            var data = {"contents":$("#replyarea").val(), "adID": "@eAd.arenaID"};
                            $.ajax({
                                url: "/postreply",
                                type: 'POST',
                                contentType:'application/json',
                                data: JSON.stringify(data),
                                dataType : 'html',
                                success: function(data ){
                                    location.reload();
                                }
                            });
                            }else{
                   	             $("#warningreply").html("Your reply is too short! Please enter a minimum of 3 characters");
                   	             $("#warningreply").css('color', 'red');
                                $('#warningreply').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
                                $('#redcross').width(40);
                                $('#redcross').height(40);
                            }
                        });
                </script>
            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
      </div>
   </body>
</html>
