@(tournament: Tournament)

<!DOCTYPE html>

<html>
    <head>
      @Templates.head()
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
       @Templates.facebookHeadScript()
    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">

            <div data-role="header" class = "header">
                @Templates.header()
            </div>
        
        <div data-role="content" class = "content">   
            </ul>
            <p>
            <h1 align="center">Edit your tournament</h1>
            <div id = "bracketcontent"  data-scroll="true" style = "overflow:scroll">
            <div id="bracket"></div>
             <div id='bracketForm' class = "tEdit">
                <form name="bracketEdit" >
                Name of your tournament: <input type="text" name="fname" id="fname">
                <input type="button" value="Save changes" id="save">
                    <p id="warning"></p>
                
            </form>
            
            </div>

                    <script>
                    var data;
                    var a = @Html(tournament.tournamentdata);
                    var tid = @tournament.tournamentID;
                    var name = "@tournament.tournamentname";
                    var tamount = @tournament.participant_count;
                    var amount = tamount.toString(); 
                    var container = $('#bracket');
                    var prevAmt;
                    
                    
                    $(document).on("pageload",function(){
                    
                     
                    });
                    
                    $(document).on('click','.increment',function(){
                        
                        switch(amount) {
                            case "4":
                            amount = "8"; 
                                break;
                            case "8":
                            amount = "16";
                                break;
                            case "16":
                            amount = "32";
                            $('.increment').remove();
                                break;
                            case "32":
                                break;
                            
                        }
                        
                    });
                    
                   $(document).on('click','.decrement',function(){
                        
                        switch(amount) {
                            case "4":
                                break;
                            case "8":
                             $('.decrement').remove();
                            amount = "4";
                                break;
                            case "16":
                            amount = "8";
                                break;
                            case "32":
                            amount = "16";
                                break;
                            
                        }
                    });
                    
                    $('#bracket').click(function() {
                        
                        $('.doubleElimination').remove();
                        
                       
                        
                    });
                    
                    $(function() {
                        
                        $("#fname").val(name);
                        $("#amount").val(amount);
                        $("#amount").selectmenu('refresh');
                        prevAmt = $('#amount').val();
                        
                        container.bracket({
                        init: a,
                        save: saveFn
                        
                        });
                        
                        if (amount == "4"){
                            $('.decrement').remove();
                        }
                        
                        $('.doubleElimination').remove();
                     
                    });
                    
                    function saveFn(data) {
                    }
                    
                    $("#save").click(function() {
                            
                        name = $("#fname").val();
                        amount;
                        data = container.bracket('data');
                        var teams = data.teams;
                        var results = data.results;
                        var id = tid.toString();
                      
                        
                        $.ajax({
                                url: "/edittournament",
                                type: 'POST',
                                contentType:'application/json',
                                data: JSON.stringify({ id: id, name: name, amount: amount, teams: teams, results: results }),
                                dataType : 'html',
                                success: function(){
                                    window.location.replace("/tournament");
                                }
                        });
                  
                    });
                    
                    
                    $('#button1').click(function() {
                         FB.getLoginStatus(function(response) {
                             if (response.status === 'connected') {
                            FB.logout(function(response) {
                    	        window.location='/logout';
                    	    });
                             } else { 
                                 window.location='/logout';
                             }
                        });
                    });
                    
                    
                    </script>
				</div>
        </div>
            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>

    </body>
</html>