@(tournament: Tournament)
<!DOCTYPE html>
<html>
   <head>
      @Templates.head()
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
       @Templates.facebookHeadScript()
    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">
            <div data-role="header" class = "header">
                @Templates.header()
                  <a id = "back" rel="external" href="/mainetournament" data-role="button" role="button" data-icon="back" data-iconpos="notext">Back</a>
                <script>
                  $("#back").css("background","  #FF9900");
                </script>
            </div>
        <div data-role="content" class = "content">   
            </ul>
            <p>
            <h1 align="center">Edit your tournament</h1>

            <button id="share_button" class = "myFace faceButton search" data-mini="true">Facebook Share</button>
            <br>
            <script type="text/javascript">
            $(document).ready(function() {
              $('#share_button').click(function(e) {
                e.preventDefault();
                FB.ui({
                  method: 'feed',
                  name: 'Tournament: @tournament.tournamentname',
                  link: document.URL,
                  caption: "@tournament.tournamentcreator" + "'s " + "tournament",
                  description: "Size of Tournament: @tournament.participant_count"
                });
              });
            });
            </script>
            
            <div id="bracket"></div>
             <div id='bracketForm' class = "search">

               <br>
               <br>
                <a href="#popupCloseRight" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-info ui-btn-icon-right ui-mini">Info</a>
                <div data-role="popup" id="popupCloseRight" class="ui-content" style="max-width:280px">
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext  ui-btn-right">Close</a>
                <p>You can change the name of the teams in your tournament by clicking the respective team label, you can also change the score by clicking the label after the team name. This updates the bracket.</p>
                </div><br>

                Name of your tournament: <input type="text" name="fname" id="fname">
                <button data-role = "button"  value="Save changes" id="save" >Save changes</button>
                
                <button data-role = "button"  value="Delete tournament" id="delete" data-icon="delete" data-iconpos="right" >Delete tournament</button>
                    <p id="warning"></p>
                
                        </div>

            <script>
               var data;
               var a = @Html(tournament.tournamentdata);
               var tid = @tournament.tournamentID;
               var name = "@tournament.tournamentname";
               var tamount = @tournament.participant_count;
               var amount = tamount.toString(); 
               var container = $('#bracket');
               var prevAmt;
               
               
               $(document).on("pageload",function(){                               
               });
               
               $(document).on('click','.increment',function(){
                   
                   switch(amount) {
                       case "4":
                       amount = "8"; 
                           break;
                       case "8":
                       amount = "16";
                           break;
                       case "16":
                       amount = "32";
                       $('.increment').remove();
                           break;
                       case "32":
                           break;                       
                   }
                   
               });
               
               $(document).on('click','.decrement',function(){
                   
                   switch(amount) {
                       case "4":
                           break;
                       case "8":
                        $('.decrement').remove();
                       amount = "4";
                           break;
                       case "16":
                       amount = "8";
                           break;
                       case "32":
                       amount = "16";
                           break;
                   }
               });
               
               $('#bracket').click(function() {
                   
                   $('.doubleElimination').remove();                  
               });
               
               $(function() {
                   
                   $("#fname").val(name);
                   $("#amount").val(amount);
                   $("#amount").selectmenu('refresh');
                   prevAmt = $('#amount').val();
                   
                   container.bracket({
                   init: a,
                   save: saveFn
                   
                   });
                   
                   if (amount == "4"){
                       $('.decrement').remove();
                   }
                   
                   $('.doubleElimination').remove();
                
               });
               
               function saveFn(data) {
               }
               
               $("#save").click(function(event) {
                    event.preventDefault();
                   name = $("#fname").val();
                   amount;
                   data = container.bracket('data');
                   var teams = data.teams;
                   var results = data.results;
                   var id = tid.toString();
                    
                   
                   $.ajax({
                           url: "/edittournament",
                           type: 'POST',
                           contentType:'application/json',
                           data: JSON.stringify({ id: id, name: name, amount: amount, teams: teams, results: results }),
                           dataType : 'html',
                           success: function(){
                              window.location.replace(document.referrer); 

                           }
                   });
               
               });
               /////////////////////////////////////////////////delete button /////////////////////          
               
               $("#delete").click(function() {
               var is_sure = confirm("Are you sure you want to delete?");
           if (is_sure == true) {
             var data = {
               "id": "@tournament.tournamentID"

             }

             $.ajax({
               url: "/deletetournament",
               type: 'POST',
               contentType: 'application/json',
               data: JSON.stringify(data),
               dataType: 'html',
               success: function() {
                window.location.replace(document.referrer);     

               }

             });
           }
           else {

             $("#warning").html("There are errors in your tournament! Fix them and try again.");
             $("#warning").css('color', 'red');
             $('#warning').prepend('<img id="redcross" src="@routes.Assets.at("images/redcross.png")" />')
             $('#redcross').width(40);
             $('#redcross').height(40);

           }
         });

            </script>
            
         </div>
         @Templates.mitLicens()
         @Templates.panelAndLogOut()
      </div>
   </body>
</html>
