@(message: String)

<!DOCTYPE html>

<html>
    <head>
        @Templates.loginSignUpHead()
     
        @Templates.facebookHeadScript()

    </head>
    <body>
<div class="pagecontainer">
    <script>
    var buttonClicked = false;
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
   
   
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
   
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
      buttonClicked = true;
     
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '850805461661221',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.   
  function testAPI() {
    FB.api('/me', function(response) {
      var data = {"id":response.id};
      $.ajax({
      url: '/facebookcheck',
      type: 'POST',
      contentType:'application/json',
      data: JSON.stringify(data),
      dataType : 'html',
      success: function(data){
    	  
    	  if(data == "null" && buttonClicked){ 
    	      
           window.location = "/chooseusername";
           
    	 } else if (buttonClicked){
    	 
    	 location.reload();
    	 }
     }
    });
  });
  }
</script>

<div id="status">
</div>
    

    <div data-role="page" id = "login" data-theme="c">
        
  
                      
		  <div data-role = "content">
		             
              <div class = "loginBox"> 

                <h1 class = "headerPic"><img src="@routes.Assets.at("images/real.png")" class = "headerImg "></h1> 
                <div id = "custom-collapsible" data-role="collapsible" class="ui-icon-alt" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right"  data-content-theme="a" >
                    <h1 class="custom-centercollheader">Sign In</h1>
            	    <form id ="loginform" action="@routes.UserDatabase.getUser()" method ="post" data-ajax="false">
                        <div data-role="fieldcontain"class="ui-hide-label">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" value="" placeholder="Username"/>
                        </div>
                        <div data-role="fieldcontain" class="ui-hide-label">
                            <label for="Password" >Password:</label>
                            <input type="password" name="password" id="password" value="" placeholder="Password"/>
                        </div>
                        <p id="warning">@message</p>
				        <button data-role ="button" data-inline="true" id = "button3" class = "my-btn" type="submit" value="Login" onclick="return validate()">Login </button>
		           </form>
		        </div>


                <script>
                     
                    $('#username').textinput({ theme: "a" });
                    $('#password').textinput({ theme: "a" });

                    $(function() {
                        $('#show_login').click(function() {        
                            $('#loginForm').toggle('show');
                        });
                    });
                </script>
                <br>
    		        <button data-role = "button" id="button1" class = "my-btn"  data-icon="arrow-r" data-iconpos="right" style="border:none;">Register a new account</button>
    		
                <br>
		        <div id = "facebook"> <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" data-size="xlarge" data-max-rows="1">
                    </fb:login-button>
                </div>
                
		        
          </div> 
<script>
$('#button1').click(function() {
	window.location='/register'; });
	</script>
  <script>
     $("#button1").css("background","  #DADADA");
      $("#button3").css("background"," #FF9200");

               
                $("#button3,#button1").css('color','black');
               
  </script>
		
		

<script type="text/javascript">
function validate(){
 	var blnValid = true;
 	
	if(isBlank("username"))
	{
		blnValid = false;
		$("#warning").html('Username field cannot be blank!');
	    document.getElementById("username").focus();
	}
	if(isBlank("password"))
	{   
	blnValid = false;
	$("#warning").html('Password field cannot be blank!');
	document.getElementById("password").focus();
	}
	return blnValid;
	}
	
	
function isBlank(elementID){
    if(document.getElementById(elementID).value.length == 0){
        return true;
    }
    return false;
}
</script>	        
</div>


</div>        
</div>
@Templates.jsDisabled()
</body>
</html>