@(tournament: List[Tournament])

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mainTournament.css")">
        @Templates.facebookHeadScript()
    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">   
            <div data-role="header" class = "header">
                @Templates.header()
            </div>
 
            <div data-role="content" class = "content" >
                <div id = "mainTournamentContent">   
                    <h1 align="center">Tournament</h1>
                        <ul data-role="listview" data-inset="true" data-dividertheme="a"> 
                        @for(tournament <- tournament) {
                          
                            <li data-role = "list-divider" ></li>
                                <li><a id = "link" rel="external"  href="/showtournament/@tournament.tournamentID" ><img src="@routes.Assets.at("images/sun.jpg")" alt="Dreamhack" class = "fullscreen"/><h2>@{"Name: " + tournament.tournamentname}</h2> <p>@{" Size: " +  tournament.participant_count }</p></a>
                            </li>
                        } 
                    </ul>
                    <a rel="external" href="/createtournament"><button>Create a new tournament</button></a>
                </div>
            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>

    </body>
</html>