@(tournament: List[Tournament])

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        @Templates.facebookHeadScript()
    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">   
            <div data-role="header" class = "header">
                @Templates.header()
            </div>
 
        <div data-role="content" class = "content" >   
            </ul>
            <p>
            <h1 align="center">News feed</h1>
       
            <div id="weiner"></div>
    <ul> 
 @for(tournament <- tournament) {
  <li><a rel="external"  href="/showtournament/@tournament.tournamentID">@{"Tournament Name: " + tournament.tournamentname +" Tournament Size: " +  tournament.participant_count }</a></li>
 } 
 </ul>
        
           <div style="border-radius:10px;height:100px;width:1000px;" class="tournaments" id="message" >  </div>
           
            <script type="text/javascript">

            $(function() {

            });
            
            </script>
            
         <a rel="external" href="/createtournament"><button>Create a new tournament</button></a>
        </div>
            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>

    </body>
</html>