@(eads: List[EArenaAd], games: List[String], rowcount: Integer)
<!DOCTYPE html>
<html>
   <head>
      <title>EArena</title>
      @Templates.head()
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      @Templates.facebookHeadScript()
      <meta charset="UTF-8">
      <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ias.min.js")"></script>
   </head>
   <body>

<div data-role="page" data-theme="c" id = "main" >
         <div data-role="header">
            @Templates.header()
         </div>
         <div data-role="content">
            

            <div class="ui-grid-solo ui-responsive">
              <img src="@routes.Assets.at("images/EARENA.jpg")" alt="tPicture" class = "fullscreen" />
            </div>
            <div style="width:100% ; text-align:center">
              <p>
                <b>Welcome to the EArena!</b><br>
               Here is where you can create and<br>
               search game ads from different users.
              </p> 
            </div>


                <div style="text-align:center">
               <a href="#" id="share_button" class = "ui-btn-inline"> <img src="@routes.Assets.at("images/facebooksharebutton.png")" alt="tPicture" style="max-width:100%; height:35px;"  /></a>
               </div>
            
               <script type="text/javascript">
               $(document).ready(function() {
                 $('#share_button').click(function(e) {
                   e.preventDefault();
                   FB.ui({
                     method: 'feed',
                     name: 'DreamSpace mainEarena',
                     link: document.URL,
                     caption: "mainEarena" ,
                     description: ""
                   });
                 });
               });
            </script>

            <div class="ui-grid-a ui-responsive">
              <div class="ui-block-a"><a data-role = "button" id = "MYEArena"  rel="external" href="/myearena" data-iconpos="right" >MY ADS</a></div>
              <div class="ui-block-b"><a data-role = "button" id = "creatAd"  rel="external" href="/createarenaad" data-iconpos="right" >CREATE AN AD</a></div>
            </div>

            <div class ="standardBox">
               <div data-role="collapsible" class="ui-icon-alt" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-iconpos="right">
                  <h3 class = "custom-centercollheader" >SEARCH ADS</h3>
                  <form data-ajax="false">
                     <input type="search" name="search" id="search-basic" value="" placeholder="Search ad" />
                     <p>Advanced search</p>
                     <hr>
                     <div data-role="fieldcontain"class="ui-hide-label" >
                        <input type="text" name="game" placeholder="Game" id="game">
                        <input type="text" name="username" placeholder="Username" id="username">
                        <input type="number" name="players" placeholder="Number of players" id="players">
                        <input type="number" name="minutes" placeholder="Uploaded X minutes ago" id="minutes">
                     </div>
                     <div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
                        <button data-inline="true" type="submit"><b>GO!</b></button>
                     </div>
                  </form>
               </div>
            </div>
          


       


            <div id ="earenas">
            <div class ="flowBox">
            <br>
   <div class="ui-grid-solo ui-responsive">
            <div class="ui-block-a"><b><h3 style="margin:0"> <div id="adsFound"></div></h3></b></div>
         </div>  

               <hr>
         <div class="ui-grid-a ui-responsive">
            <div class="ui-block-a" style="text-align:center;background-color:#373945"><b><h3 style="margin:0;color:#FFFFFF">Game Ads</h3></b></div>
            <div class="ui-block-b" style="text-align:center;background-color:#FF8532"><b><h3 style="margin:0;color:#000000">Tournament Ads</h3></b></div>
         </div>
               <article  data-role="listview" data-inset="true" data-dividertheme="a">
                  @for(eads <- eads) {
                  
                  <li >
                     <a rel="external"  href="/earenaad/@eads.arenaID" style = "" >
                        <h2>@{" " + eads.arenaName}</h2>
                        <div style="float:right;"><img src="assets/images/gamelogos/@eads.logo"></div>
                        <p>@{" Host: " + eads.admin}</p>
                        <p>@{" Game: " + eads.gameName }</p>
                        <p>@{" Created: " + eads.createdDate }</p>
                        <p>@{" Players: " + eads.playersRequired}</p>
                        <p>Information:</p>
                        <textarea readonly name="textarea" id="@eads.arenaID" style = "overflow:auto;resize:none" >@{eads.information}</textarea>
                        <br>
                     </a>
                  </li>
                  <li  data-role = "list-divider"  style="background:transparent;border:none" ></li>
                  
                  <script>
                        $('.ui-page-active .ui-listview').listview('refresh');
                        $('.ui-page-active :jqmData(role=content)').trigger('create');
                        if("@eads.adType" === "Tournament Ad"){
                        	$("#@eads.arenaID").css("background", "#FF8532");
                           $("#@eads.arenaID").css("font-weight", "bold");
                        }else{
                        	$("#@eads.arenaID").css("background", "#373945");
                           $("#@eads.arenaID").css("color", "#FFFFFF");
                        }
                     </script>
                  } 
               </article>
            </div>
            </div>
            <script>
               $(function(){
                 
                  $('#showAdv').click(function() {        
                     $('#advSearch').toggle('show');
                  });
                  
                  var games = @Html(games.toString());
               
               
               $( "#game" ).autocomplete({
               source: games
               });
               });
            </script>

            <script>
            var rowcount = @rowcount;
            var pageDecimal = rowcount / 10;
            var pages = Math.ceil(pageDecimal);
            var cPage;
            
           
               
               
            
            $(document).ready(function() {
                  $("#adsFound").html("Current ads (" + rowcount + ")");
  
            var ias = jQuery.ias({
            	  container:  '#earenas',
            	  item:       '.flowBox',
            	  pagination: '#pagination',
            	  next:       '.Next'
            	});
            
            ias.on('load', function(event) {
            	   if(cPage > pages){
               		jQuery.ias().unbind();
               		$('.ias-spinner img:last-child').remove()
               		$('.ias-spinner').append("No more results")
               	}else{  
              var url = event.url;
              var currentAdress = window.location.href;
              var afterQuestion = currentAdress.substring(currentAdress.indexOf("?"));
         	  if (afterQuestion.indexOf("search") != -1) {
         		 afterQuestion += "&page="
         			afterQuestion += cPage
         		event.url = afterQuestion
         		  
         	  }else{
            	url+=cPage
            	event.url = url
         	  }
         	  }
            })
            
            jQuery.ias().extension(new IASPagingExtension());
            jQuery.ias().on('pageChange', function(pageNum, scrollOffset, url) {
            	cPage = pageNum;
            });
            
            ias.extension(new IASSpinnerExtension({
                src: "@routes.Assets.at("images/loading.gif")",
            }))
            	
            });
            	
            
            
            </script>
            <div id="pagination">
               <a href="?page=" class="Next" id="Next1">next</a>
            </div>
         </div>
         @Templates.footer()
         @Templates.panelAndLogOut()
      </div>
      @Templates.jsDisabled()
   </body>
</html>