@(eads: List[EArenaAd])
<!DOCTYPE html>
<html>
	<head>
	<title>EArena</title>
	@Templates.head()
	@Templates.facebookHeadScript()
<meta charset="UTF-8">
	</head>
<body>
	<div data-role="page" data-theme="b" id = "main" class = "page"  >
	@Templates.header()
 	<div data-role="content" class = "content">   
 	<h1 align="center">EArena</h1>
	<ul> 
 	@for(eads <- eads) {
  	<li><a rel="external"  href="/earenaad/@eads.arenaID">@{"Name of ad: " + eads.arenaName + " Name of host: " + eads.admin + " Name of game: " + eads.gameName + " Information: " + eads.information + " Amount of players required: " + eads.playersRequired}</a></li>
	} 
 	</ul>
 
 </div>
@Templates.footer()
@Templates.panelAndLogOut()
            </div>
</body>
</html>