@(message: String)

<!DOCTYPE html>

<html>
    <head>
      @Templates.head()
      @Templates.facebookHeadScript()
    </head>
    <body>         
        <div data-role="page" data-theme="b" id = "main" class = "page"  >   
                      
               
                <div data-role="header" class = "header">
                @message
                @Templates.header()
                </div>
            <div data-role="content" class = "content">
                                <!--Ta bort detta vid användning och placera nytt inehåll i content  -->
                                                <h1 align="center">HomePage</h1>
                                                 Veritus nominavi postulant ex nec. Quis utamur vix cu, no vix ullum dolorem maiestatis. Ei mel quidam vituperatoribus, id ius doctus phaedrum, quaeque maiorum detraxit vix cu. Ea amet case indoctum sed. Ei zril patrioque nam.ati instructior mel ne, mel elit cibo oporteat at, no qui assum soluta. Omnesque democritum et pro, no duo elit salutatus disputationi. Inani harum ea eos, pro te vivendo blandit, movet habemus ullamcorper eos te.<h2><img src="@routes.Assets.at("images/e2.png")" class = "fullscreen" id = "img1"></h2>

                                            <p id = "col1">
                                                 Ad nam alienum petentium complectitur, augue consequuntur te vim. Eam ei cibo oporteat. Ut nominavi menandri intellegam has, cu tacimates perpetua tincidunt cum. Vis fabulas alienum omittam ex, ut per diam unum soluta, diceret ullamcorper pri ne.
                                            </p>



                                                Eu vitae abhorreant sit. Mazim primis rationibus has eu, an etiam convenire per. Per ea summo partiendo urbanitas, at vis ceteros copiosae. Sea meliore pertinacia in, partem indoctum usu id, eos  id delectus placerat pericula. Id omnis prompta vivendum has, saepe tritani nominavi sed id. Cu gubergren aliquando vim, error timeam pro ex.

                                                Veritus nominavi postulant ex nec. Quis utamur vix cu, no vix ullum dolorem maiestatis. Ei mel quidam vituperatoribus, id ius doctus phaedrum, quaeque maiorum detraxit vix cu. Ea amet case indoctum sed. Ei zril patrioque nam.ati instructior mel ne, mel elit cibo oporteat at, no qui assum soluta. Omnesque democritum et pro, no duo elit salutatus disputationi. Inani harum ea eos, pro te vivendo blandit, movet habemus ullamcorper eos te.
                                                <img src="@routes.Assets.at("images/e1.png")" class = "fullscreen" id = "img2">
                                            <p id = "col2">
                                                 Ad nam alienum petentium complectitur, augue consequuntur te vim. Eam ei cibo oporteat. Ut nominavi menandri intellegam has, cu tacimates perpetua tincidunt cum. Vis fabulas alienum omittam ex, ut per diam unum soluta, diceret ullamcorper pri ne.
                                            </p>
                                                Eam audiam scripta iudicabit et, eu dolorem perfecto persecuti qui. Cu vix homero fabulas nonumes. Usu perpetua conceptam disputationi eu, iusto mollis forensibus sea ut, ex per brute theophrastus. Usu melius expetenda dissentias id, no vitae dolore disputationi his, semper quaeque invidunt per eu.
                                            <p id = "col3">
                                                Ad nam alienum petentium complectitur, augue consequuntur te vim. Eam ei cibo oporteat. Ut nominavi menandri    intellegam has, cu tacimates perpetua tincidunt cum. Vis fabulas alienum omittam ex, ut per diam unum soluta, diceret ullamcorper pri ne.</p>

                                            <img src="@routes.Assets.at("images/e3.png")" class = "fullscreen" id = "img3">

                                                vitae abhorreant sit. Mazim primis rationibus has eu, an etiam convenire per. Per ea summo partiendo urbanitas, at vis ceteros copiosae. Sea meliore pertinacia in, partem indoctum usu id, eos id delectus placerat pericula. Id omnis prompta vivendum has, saepe tritani nominavi sed id. Cu gubergren aliquando vim, error timeam pro ex.

                                                Veritus nominavi postulant ex nec. Quis utamur vix cu, no vix ullum dolorem maiestatis. Ei mel quidam vituperatoribus, id ius doctus phaedrum, quaeque maiorum detraxit vix cu. Ea amet case indoctum sed. Ei zril patrioque nam.ati    instructior mel ne, mel elit cibo oporteat at, no qui assum soluta. Omnesque democritum et pro, no duo elit salutatus disputationi. Inani harum ea eos, pro te vivendo blandit, movet habemus ullamcorper eos te.

                                                Eam audiam scripta iudicabit et, eu dolorem perfecto persecuti qui. Cu vix homero fabulas nonumes. Usu perpetua     conceptam disputationi eu, iusto mollis forensibus sea ut, ex per brute theophrastus. Usu melius expetenda dissentias id, no vitae dolore disputationi his, semper quaeque invidunt per eu.


                  
            </div>
            @Templates.footer()
          @Templates.panelAndLogOut()

        </div>

    </body>

</html>
