@(eads: List[EArenaAd])
<!DOCTYPE html>
<html>
	<head>
	   <title>EArena</title>
	   @Templates.head()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/MainEArenaPage.css")">
	   @Templates.facebookHeadScript()
        <meta charset="UTF-8">
	</head>
    <body>
        <div data-role="page" data-theme="b" id = "main" class = "page"  >
	       @Templates.header()
            <div data-role="content" class = "content">   
            <h1 align="center">EArena</h1>
                <div id="search">
                    <form>
                        <div id="blockBox">
                            <input type="search" name="search" id="search-basic" value="" />
                            <label>Search for: </label>
                            <div class="ui-grid-b ui-responsive">
                                <div class="ui-block-a">
                                    <input type="checkbox" name="checkbox-h-1a" id="checkbox-h-1a">
                                    <label for="checkbox-h-1a">Name</label>
                                </div>
                                <div class="ui-block-b">
                                    <input type="checkbox" name="checkbox-h-1b" id="checkbox-h-1b">
                                    <label for="checkbox-h-1b">User</label>
                                </div>
                                <div class="ui-block-c">
                                    <input type="checkbox" name="checkbox-h-1c" id="checkbox-h-1c">
                                    <label for="checkbox-h-1c">Players</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id = "MEArenaContent">
                    <article  data-role="listview" data-inset="true" data-dividertheme="a"> 
                        @for(eads <- eads) {
                            <li  data-role = "list-divider" ></li>
                            <li><a rel="external"  href="/earenaad/@eads.arenaID" style = "background: #373737" ><h2>@{"Name of ad: " + eads.arenaName}</h2><p>@{" Name of host: " + eads.admin}</p><p>@{" Name of game: " + eads.gameName }</p><p>@{" Amount of players required: " + eads.playersRequired}</p><p>Information:</p><textarea disabled name="textarea" id="text">@{eads.information}</textarea><br></a></li>
                        } 
                    </article>
                </div>
            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
        </div>
    </body>
</html>