@(message: String, pictures: List[Picture], eads: List[EArenaAd], tournament: List[Tournament])
<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        @Templates.facebookHeadScript()
     

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mainpage.css")">
    </head>
    <body>  
        <div data-role="page" data-theme="c" id = "main" style="overflow:auto ;">   
            <div data-role="header">
              <div style="float:right; padding-right:30px;">
     <a id="logged" data-role="button" rel = "external" href='#' data-theme="a" data-icon="user" data-inline = "true" data-shadow="false" style= "background:#FF6E00;  background:white; border:none;  "> @message</a>
     </div>
                @Templates.header()

            </div>
        
            <div data-role="content" >
         
          
                        <div class="ui-grid-solo">
                            <div class="ui-block-a" style="width:100%; text-align:center;">
                               
                                    @for(pictures <- pictures) {
                                        <a href="/pictures" rel="external" class="ui-btn ui-btn-b ui-corner-all ui-shadow imgCut imgFloat" ><img  src="/pic/@pictures.pictureID" style="width:100%" /></a>
                                    }
                            </div>
                        </div>
                   
                    <div class="ui-grid-solo">
                        <div class="ui-block-a"  style="width:100%">
                            <div class="ui-bar ui-bar-b ui-corner-all ui-shadow"style="background:#FF9200; color:#FFFFFF ; border:none">
                            <h3 >EVENT NEWS </h3>
                            
                            <marquee style=" width:100%; background:#FF9200; font-size:20px;">Screenshots of today! Go visit the gallery to see more</marquee>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-grid-a ui-responsive paddingAblock"> 
                        <div class="ui-block-a " >
                            <div class ="textBox" Style = "background: #FFFFFF; border-style: solid; border-color: #767575; height:100%;">
                                <H1 Style ="text-align: center">WELCOME</H1>
                                <hr>
                                <p class="welcomeTexta">
What you're looking at now is the homepage of the platform called DreamSpace. As a DreamHack corporate group,
our goal is to optimize your experience at the DreamHack LAN event by letting you use our functions. For instance we offer you the
possibility to upload game ads in the EArena to aid you and your friends in your search in finding new gaming buddies.
And when you're already on it - go ahead and check out our other main function, the ETournament! Here you can create your own tournaments for you and your friends - all to increase the excitement of gaming.<br> 
And the game? That’s totally up to you. So here is our word for you:<br> 
Enjoy! And do not forget - Life is short, play more.
                                </p>
                            </div>
                            <br>
                            <br>
                        </div>
                  
                        <div class="ui-block-b">
                            
                                <div id="buttons">
                                    <div class="ui-grid-a">
                                        <div class="ui-block-a" >
                                            <a href="#" id="1" class="ui-btn ui-btn-b ui-shadow  flipButton">EARENA</a>
                                        </div>
                                        <div class="ui-block-b">
                                            <a href="#" id="2" class="ui-btn ui-shadow ui-btn-b flipButton">ETOURNAMENT</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="pages" class ="ui-responsive" style="overflow: hidden">        
                                                  
                                  <div id = "1" class ="mainFlowBox ui-responsive">
                                        
                                    <article  data-role="listview" data-inset="true" data-dividertheme="a" data-theme = "c"> 
                                      @for(eads <- eads) {
                                  
                                        <li>
                                          <a rel="external"  href="/earenaad/@eads.arenaID">
                                            <h2>@{" " + eads.arenaName}</h2>
                                            <div style="float:right; display:inline !important;" ><img src="../assets/images/gamelogos/@eads.logo"></div>
                                            <p>@{" Host: " + eads.admin}</p>
                                            <p>@{" Game: " + eads.gameName }</p>
                                            <p>@{" Created: " + eads.createdDate }</p>
                                            <p>@{" Players required: " + eads.playersRequired}</p>
                                            <p>Information:</p>
                                            <textarea readonly name="textarea" id="@eads.arenaID" style="overflow:auto;resize:none;background-color:#373945;color:#FFFFFF" >@{eads.information}</textarea>
                                            <br>
                                          </a>
                                        </li>
                                        <li  data-role = "list-divider" Style = "background-color : transparent ; border: none"></li>
                                        
                                      } 
                                    </article>
                                  </div>
                                  <div id = "2" class ="mainFlowBox ui-responsive" style="display:none">
                                    <ul data-role="listview" data-inset="true" data-dividertheme="a" data-theme = "c"> 
                                      @for(tournament <- tournament) {
                                        <li>
                                          <a rel="external"  href="/showtournament/@tournament.tournamentID" style = "border: none"><img src="../assets/images/gamelogos/@tournament.logo" alt="Dreamhack" class = "fullscreen"  />
                                            <h2>@{tournament.tournamentname}</h2> 
                                            <p>@{" Size: " +  tournament.participant_count }</p>
                                            <p>@{" Creator: " +  tournament.tournamentcreator }</p>
                                          </a>
                                        </li>
                                        <li  data-role = "list-divider" Style = "background-color : transparent ; border: none"></li>
                                      } 
                                    </ul>
                                  </div>             
                                </div>
                            
                        </div>
                    </div>
                
            </div>   
                    @Templates.footer()
                    @Templates.panelAndLogOut()
                    <script>
                          $("#buttons a").click(function() {
                            var id = $(this).attr("id");
                            $("#pages div").css("display", "none");
                            $("#pages div#" + id + "").css("display", "block");
                            $("#buttons a").css("background-color", "#373737");
                            $(this).css("background-color", "#FF9200");
                        });
                    </script>
        </div>
    </body>
    @Templates.jsDisabled()
</html>
