@(eads: List[EArenaAd], rowcount: Integer)
<!DOCTYPE html>
<html>
	<head>
	   <title>EArena</title>
	   @Templates.head()
	   @Templates.facebookHeadScript()
        <meta charset="UTF-8">
	</head>
    <body>
        <div data-role="page" data-theme="b" id = "main" class = "page"  >
	         <div data-role="header" class = "header">
	       @Templates.header()
            <a id = "back" rel="external" href="/mainearena" data-role="button" role="button" data-icon="back" data-iconpos="notext">Back</a>
              <script>
              $("#back").css("background","  #FF9900");
            </script>
	       </div>
            <div data-role="content" class = "content"> 
                <h1 align="center">My EArena</h1>
           


<button id="share_button" class = "myFace faceButton search" data-mini="true">Facebook Share</button>
               <button data-role = "button" id = "creatad" class = "search" rel="external" href="/">Create a new ad</button>

               <script type="text/javascript">
                  $('#creatad').click(function() {
                    window.location='/createarenaad'; });
                    </script>

              
              

                <div class ="MEArenaContent">
           
                    
                    <article  data-role="listview" data-inset="true" data-dividertheme="a"> 
                        @for(eads <- eads) {
                            <li  data-role = "list-divider" ></li>
                            <li><a rel="external"  href="/earenaad/@eads.arenaID" style = "background: #373737" >
                            <h2>@{" " + eads.arenaName}</h2>
                            <p>@{" Host: " + eads.admin}</p>
                            <p>@{" Game: " + eads.gameName }</p>
                            <p>@{" Created: " + eads.createdDate }</p>
                            <p>@{" Players required: " + eads.playersRequired}</p>
                            <p>Information:</p><textarea readonly name="textarea" id="text" style = "overflow:auto;resize:none" >@{eads.information}</textarea>
                            <br>
                            </a>
                            </li>
                        } 
                    </article>
                </div>
                @Templates.navIcons()
                <script>
            
            
            var rowcount = @rowcount;
            var pageDecimal = rowcount / 10;
            var pages = Math.ceil(pageDecimal);
            $(document).ready(function() {
              if (pages > 1) {
                $("#pagebuttons").append(pages + " Pages " + rowcount + " Results");
              }
              else {
                $("#pagebuttons").append(pages + " Page " + rowcount + " Results");
              }
            })


            var afterEquals = window.location.href.split("=").pop();
            var currentAdress = window.location.href;
            var afterSlash = currentAdress.substring(0, currentAdress.lastIndexOf("/") + 1);
			var beforeLastEquals = currentAdress.slice(0, currentAdress.lastIndexOf("=")+1);
			$(function() {
				var afterEqual = window.location.href.split("=").pop();
	            if (afterEqual > pages){
	            	beforeLastEquals += pages
	            	document.location.href = beforeLastEquals
	            }else if(afterEqual >=1){
	            $('#currentPage').append("Current Page " + afterEqual);
	            	}else{
	            	  $('#currentPage').append("Current Page " + "1");
	            	}
	            
            })

            $('#prev').click(function() {
              if (beforeLastEquals.includes("page")) {
                
                if (afterEquals == 1) {
                  alert("You're on the first page")
                  return
                }
                afterEquals--;
                beforeLastEquals += afterEquals;
                document.location.href = beforeLastEquals
              }
              else {
                alert("You're on the first page")
              }
            })

            $('#next').click(function() {
              if (beforeLastEquals.includes("page")) {
                if (afterEquals >= pages) {
                  alert("You're on the last page")
                  return;
                }
                afterEquals++;
                beforeLastEquals += afterEquals;
                document.location.href = beforeLastEquals
              }else {
            	 beforeLastEquals += "?page=2"
                document.location.href = beforeLastEquals;
              }

            })


            $('#first').click(function(){
            	if(afterEquals == 1){
            		alert("You're on the first page")
            		return
            	}
            	 if (beforeLastEquals.includes("page")) {
            		 beforeLastEquals += 1;
                     document.location.href = beforeLastEquals
            	 }else{
            		 alert("You're on the first page")
            	 }

            })

            $('#last').click(function() {
                if (beforeLastEquals.includes("page")) {
                    if (afterEquals == pages) {
                      alert("You're on the last page")
                      return;
                    }                    
                    beforeLastEquals += pages;
                    document.location.href = beforeLastEquals
                  } else {
                	 beforeLastEquals += "?page="+pages
                    document.location.href = beforeLastEquals;
                  }

                })
            </script>
                
                
                
            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
        </div>
    </body>
</html>