@(eads: List[EArenaAd])
<!DOCTYPE html>
<html>
	<head>
	   <title>EArena</title>
	   @Templates.head()
	   @Templates.facebookHeadScript()
        <meta charset="UTF-8">
	</head>
    <body>
        <div data-role="page" data-theme="b" id = "main" class = "page"  >
	         <div data-role="header" class = "header">
	       @Templates.header()
	       </div>
            <div data-role="content" class = "content">   
                <h1 align="center">My EArena</h1>
           
               <button id="share_button" class = "myFace faceButton search" data-mini="true">Facebook Share</button>
                <button data-role = "button" id = "creatad" class = "search" rel="external" href="/">Create a new ad</button>

                <script type="text/javascript">
                  $('#creatad').click(function() {
                    window.location='/createarenaad'; });
                    </script>

            <script type="text/javascript">
            $(document).ready(function() {
              $('#share_button').click(function(e) {
                e.preventDefault();
                FB.ui({
                  method: 'feed',
                  name: 'DreamSpace EArenaAds',
                  link: document.URL,
                  caption: "EArenaAds" ,
                  description: ""
                });
              });
            });
            </script>

                <div id = "MEArenaContent">
                    <article  data-role="listview" data-inset="true" data-dividertheme="a"> 
                        @for(eads <- eads) {
                            <li  data-role = "list-divider" ></li>
                            <li><a rel="external"  href="/earenaad/@eads.arenaID" style = "background: #373737" >
                            <h2>@{" " + eads.arenaName}</h2>
                            <p>@{" Host: " + eads.admin}</p>
                            <p>@{" Game: " + eads.gameName }</p>
                            <p>@{" Created: " + eads.createdDate }</p>
                            <p>@{" Players required: " + eads.playersRequired}</p>
                            <p>Information:</p><textarea readonly name="textarea" id="text" style = "overflow:auto;resize:none" >@{eads.information}</textarea>
                            <br>
                            </a>
                            </li>
                        } 
                    </article>
                </div>
            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
        </div>
    </body>
</html>