@(invitenotifications: List[InviteNotification], replynotifications: List[ReplyNotification])

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        @Templates.facebookHeadScript()
      
    </head>
    <body>
        <div data-role="page" data-theme="c">   
            <div data-role="header">
                @Templates.header()
            </div>
            <div data-role="content">
            <div class="ui-grid-solo ui-responsive" >
            <div class="ui-block-a">
              <img src="@routes.Assets.at("images/NOTIFICATIONS.jpg")" alt="inbox" class = "fullscreen" />
              </div>
            </div>
                   
                    

<div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">

                    <h1 align="center">Invites</h1>
                   @for(invitenotifications <- invitenotifications) {
                   <div class = "formMyprofile">
                           
                       <!--      <p>Tournament: @invitenotifications.tournamentID</p> 
                            <p>Admin:   @invitenotifications.admin </p>
                            <p>Accepted: @invitenotifications.accepted </p>
                            <p>Viewed:  @invitenotifications.viewed </p> -->

                            <ul data-role="listview" data-inset="true"  data-theme="c" data-divider-theme="b" data-count-theme="b">
    <li data-role="list-divider">Tournament: @invitenotifications.tournamentID <span class="ui-li-count">@invitenotifications.viewed</span></li>
    <h2>Admin: @invitenotifications.admin </h2>
    <p>Accepted: @invitenotifications.accepted </p>
   
     
  
                            
					        <div class="ui-grid-solo">
                                <div class="ui-block-a"><button data-role = "button" value="@invitenotifications.tournamentID" data-mini="true" data-inline="true" class = "accept">Accept Invitation</button>
                               <button data-role = "button" value="@invitenotifications.tournamentID" data-mini="true" data-inline="true" class = "delete">Delete Invitation</button>
                               </div>
                            </div>
                            </div>
                      }
                      
                    </div>
                        <div class="ui-block-b">
                      <h1 align="center">Replies</h1>
                      
                      @for(replynotifications <- replynotifications) {
                      
                         
                           <div id="@replynotifications.replyID">

                          


  
<ul data-role="listview" data-inset="true" data-theme="c" data-divider-theme="b" data-count-theme="b">
    <li data-role="list-divider">Date: @replynotifications.created_date  <span class="ui-li-count">@replynotifications.viewed</span></li>
    <h2>User: @replynotifications.username</h2>
    <!-- <p><strong></strong></p> -->
    <p>Ad:  @replynotifications.adName </p>
    <p>ReplyID: @replynotifications.replyID</p>
    </li>                   
					        <div class="ui-grid-solo">
                                <div class="ui-block-a"> <a href="/earenaad/@replynotifications.arenaID" rel="external"  data-role="button" data-mini="true" data-inline="true" class="view">View reply</a>
                                <button data-role = "button" value="@replynotifications.replyID" data-mini="true" data-inline="true"  class = "hide">Delete Notification</button>
                            </div>
                           
                     </div>
                        </div>  
                      }
                      </div>
                        </div> 
                      
                    
                       <script>
                       
                        $('.accept, .delete').click(function() {
                                   
                            var tournamentID = $(this).val();
                            var action = "";
                            
                            if ($(this).attr("class").indexOf("accept") >= 0){
                                action = "accept";
                            } else {
                                action = "delete";
                            }
                                
                               
                               $.ajax({
                                   url: "/handleInvite",
                                   type: 'POST',
                                   contentType: 'application/json',
                                   data: JSON.stringify({tournamentID: tournamentID, action: action}),
                                   dataType: 'html',
                                   success: function(data) {
                                       if (data == "accepted"){
                                            alert("Invite accepted");
                                            location.reload();
                                       } else if (data == "deleted") {
                                            alert("Invite deleted");
                                            location.reload();
                                       } else {
                                           alert("An error occurred");
                                       } 
                                   },
                                   error: function(){
                                      
                                   }
                                });
                                
                                   
                        });
                        
                        $('.hide').click(function() {
                                   
                            var replyID = $(this).val();
                               
                               $.ajax({
                                   url: "/hideReply",
                                   type: 'POST',
                                   contentType: 'application/json',
                                   data: JSON.stringify({replyID: replyID}),
                                   dataType: 'html',
                                   success: function(data) {
                                       $('#' + replyID).toggle();
                                   },
                                   error: function(){
                                      
                                   }
                                });
                                
                                   
                        });
                        
                        
                        $(function() {
                            
                                $.ajax({
                                    url: "/setViewed",
                                    type: 'POST',
                                });
                                  
                                $(".view, .hide, .accept, .delete").css("background","  #FF9900");

                            });
                           
                        
                           
                           
                           
                       </script>


                </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
            </div>

@Templates.jsDisabled()
    </body>
</html>
