@(message: String)

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/userprofile.css")">
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
        <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
       @Templates.facebookHeadScript()

      </head>

    <body>         
        <div data-role="page" data-theme="b" class = "page"  >   
            <div data-role="header" class = "header">
                @Templates.header()
            </div>
            
            <div data-role="content" class = "content">
            
                <h1 align="center">My personal packlist</h1>
                <img src="@routes.Assets.at("images/packlist.jpg")"> 
                <p>
                Here is your packlist and checklist for DreamHack, ideal for you who are first time visitors but also for you who have been at DreamHack before, it is easy to forget something important! Do not forget to read the rules of the festival, where you’ll also find useful tips and regulations, please note the information regarding yours, and all other visitors’ safety and comfort.
                </p>
                <p>
                Tip!
                Always take your valuables and smaller devices with you when you leave your seat or ask your friends and neighbours to watch your belongings. Secure the screen, computer and other valuable hardware with cables and computer security lock. Never leave your mobile phone and wallet on the table. The occasion makes the thief!
                </p>

                <form>
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">

                <label><input type="checkbox" name="checkbox-0" id="PC">Personal computer with all cables</label>
                <label><input type="checkbox" name="checkbox-0" id="Powerstrip">Powerstrip so you can connect all your stuff</label>
                <label><input type="checkbox" name="checkbox-0" id="Screen">Screen and associated cables</label>
                <label><input type="checkbox" name="checkbox-0" id="Keyboard">Keyboard, mouse and mouse pad</label>
                <label><input type="checkbox" name="checkbox-0" id="Headset">Headset or headphones</label>
                <label><input type="checkbox" name="checkbox-0" id="Cable">Network cable, about 10-15 meters</label>
                <label><input type="checkbox" name="checkbox-0" id="Screwdriver">Screwdriver, for quick fixes and upgrades to your computer</label>
                <label><input type="checkbox" name="checkbox-0" id="CTies">Cable ties, secure your cables and keep all things tidy</label>
                <label><input type="checkbox" name="checkbox-0" id="Duct">Duct Tape. Solves everything and a little more</label>
                <label><input type="checkbox" name="checkbox-0" id="Console">Game console & controller. Make sure it can be plugged in to your screen, or select portable options.</label>
                <label><input type="checkbox" name="checkbox-0" id="Phone">Mobile phone and charger.</label>
                <label><input type="checkbox" name="checkbox-0" id="Camera">Digital camera and camcorder. Send photos to your blog and videos on Youtube, a must!</label>
                <label><input type="checkbox" name="checkbox-0" id="Flashlight">Flashlight, find your stuff in the dark.</label>
                <label><input type="checkbox" name="checkbox-0" id="Chair">Your own office chair if you want to sit really comfortable. DH provides simple chairs.</label>
                <label><input type="checkbox" name="checkbox-0" id="Lock">Computer security lock, cables and padlock. Secure your hardware!</label>
                <h1>Software</h1>
                <label><input type="checkbox" name="checkbox-0" id="CD">Installation CD / DVD / HD / USB for your operating system</label>
                <label><input type="checkbox" name="checkbox-0" id="USB">USB / CD / DVD with drivers, if you need to do a reinstallation.</label>
                <label><input type="checkbox" name="checkbox-0" id="Games">Games and Software</label>
                <label><input type="checkbox" name="checkbox-0" id="Anti-virus">Anti-virus software, be sure to have your security software and your operating system updated before the festival.</label>
                <h1>Clothing and sleeping accessories</h1>
                <label><input type="checkbox" name="checkbox-0" id="Clothes">Comfortable clothes and shoes</label>
                <label><input type="checkbox" name="checkbox-0" id="Swimwear">Swimwear, visit the nearby water park!</label>
                <label><input type="checkbox" name="checkbox-0" id="Sheets">Bed sheets and towels</label>
                <label><input type="checkbox" name="checkbox-0" id="SBag">Sleeping bag or blanket</label>
                <label><input type="checkbox" name="checkbox-0" id="SPad">Sleeping pad or air mattress</label>
                <label><input type="checkbox" name="checkbox-0" id="Pillows">Pillows</label>
                <h1>Hygiende & health</h1>
                <label><input type="checkbox" name="checkbox-0" id="Toothbrush">Toothbrush and toothpaste</label>
                <label><input type="checkbox" name="checkbox-0" id="Soap">Shower Soap</label>
                <label><input type="checkbox" name="checkbox-0" id="HandCream">Hand Cream</label>
                <label><input type="checkbox" name="checkbox-0" id="Shampoo">Shampoo</label>
                <label><input type="checkbox" name="checkbox-0" id="Deo">Deodorant</label>
                <label><input type="checkbox" name="checkbox-0" id="Headache">Headache Tablets</label>
                <label><input type="checkbox" name="checkbox-0" id="Earplugs">Earplugs</label>
                <label><input type="checkbox" name="checkbox-0" id="Medications">Any medications, be sure to inform the crew if you suffer from any disease or allergies</label>

                <div Style="float:right"><input type="button" value="Save" id="save"  data-mini="true"></div>

                </fieldset>
                </div>
              </form>
     
    <script>
        $("#save").click(function() {
          

          $.ajax({
                url: "/editpacklist",
                type: 'POST',
                contentType:'application/json',
                data: JSON.stringify({PersonalComputer: $('#PersonalComputer').val(), Powerstrip: $('#Powerstrip').val()}),
                dataType : 'html',
                success: function(){
                    window.location.replace("/packlist");
                }
          });
        });
      </script>


                  
            </div>

            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>

    </body>

</html>
