@(tournament: List[Tournament], rowcount: Integer)
<!DOCTYPE html>
<html>
   <head>
      @Templates.head()

      @Templates.facebookHeadScript()
      <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ias.min.js")"></script>
   </head>
   <body>
      <div data-role="page" data-theme="b" class="page">
         <div data-role="header" class = "header">
            @Templates.header()
            <a id = "back" rel="external" href="/mainetournament" data-role="button" role="button" data-icon="back" data-iconpos="notext">Back</a>
            <script>
               $("#back").css("background","  #FF9900");
            </script>
         </div>
         <div data-role="content" class = "content" >
            <div class = "search">
               <h1 align="center">My Tournament</h1>
               <a data-role = "button" id = "btn"  rel="external" href="/createtournament" data-icon="arrow-r" data-iconpos="right">Create a new tournament</a>
            </div>
            <div id="pagebuttons"></div>
            <div id="tournaments">
               <div class ="MEArenaContent">
                  <hr>
                  <ul data-role="listview" data-inset="true" data-dividertheme="a" data-theme = "b">
                     @for(tournament <- tournament) {
                     <li  data-role = "list-divider" ></li>
                     <li>
                        <a  data-role = "button"  rel="external"  href="/showtournament/@tournament.tournamentID" class = "greyBtn">
                           <img src="@routes.Assets.at("images/sun.jpg")" alt="Dreamhack" class = "fullscreen"  />
                           <h2>@{"Name: " + tournament.tournamentname}</h2>
                           <p>@{" Size: " +  tournament.participant_count }</p>
                        </a>
                     </li>
                     <script>
                        $('.ui-page-active .ui-listview').listview('refresh');
                        $('.ui-page-active :jqmData(role=content)').trigger('create');
                        
                     </script>
                     } 
                  </ul>
               </div>
            </div>
            
            <script>
               var rowcount = @rowcount;
               var pageDecimal = rowcount / 10;
               var pages = Math.ceil(pageDecimal);
               
               $(document).ready(function() {
                   if (rowcount > 1) {
                     $("#pagebuttons").append(rowcount + " Results");
                   }
                   else {
                     $("#pagebuttons").append(rowcount + " Result");
                   }
                 })
               
               $(document).ready(function() {
               var ias = jQuery.ias({
               	  container:  '#tournaments',
               	  item:       '.MEArenaContent',
               	  pagination: '#pagination',
               	  next:       '.Next'
               	});
               
               
               
               var cPage;
               ias.on('load', function(event) {
            	   if(cPage > pages){
                 		jQuery.ias().unbind();
                 		$('.ias-spinner img:last-child').remove()
                 		$('.ias-spinner').append("No more results")
                 	}
                var url = event.url;
                url += cPage
               	event.url = url
               	
               })
               
               jQuery.ias().extension(new IASPagingExtension());
               jQuery.ias().on('pageChange', function(pageNum, scrollOffset, url) {
               	cPage = pageNum;
               });
               
               ias.on('render', function(items) {

            	})
               
               ias.extension(new IASSpinnerExtension({
               src: "@routes.Assets.at("images/loading.gif")",
               }));
               });
               
               $("#btn").css("background","  #FF9900");
            </script>
            <div id="pagination">
               <a href="?page=1" class="Next" id="Next1">next</a>
            </div>
         </div>
         @Templates.footer()
         @Templates.panelAndLogOut()
      </div>
      @Templates.jsDisabled()
   </body>
</html>