<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
  @Templates.loadimage()
        @Templates.facebookHeadScript()
    </head>
    <body>
        <div data-role="page" data-theme="b">   
            <div data-role="header">
                @Templates.header()
            </div>
            <div data-role="content">
                    <h1 align="center">New Photo</h1>
                    <div class = "standardBox">
                    <form id ="newpicture" action="@routes.PictureDatabase.savePicture()" method ="post" data-ajax="false" enctype="multipart/form-data">
                    <input id="picfield" name="picture" type="file" accept="image/*;capture=camera">
   							
                    <button type="submit" value="Save Picture" >Save Picture </button>
    </form>

    <div id="imageshow" align="center"></div>

    <script type="text/javascript">
    $('#picfield').change(function(e){
  	var fullPath = document.getElementById('picfield').value;
	var fileType = fullPath.substring(fullPath.indexOf(".")+1).toLowerCase();
	var acceptedTypes = ["jpeg", "jpg", "jfif", "jpeg 2000", "tiff", "riff", "png", "gif","bmp", "png", "jpeg xr", "img", "bpg", "webp"];
	if(fullPath == ""){
		$('#imageshow').html("")
	}else if (acceptedTypes.indexOf(fileType) == -1){
		$("#imageshow").css('color', 'red');
		$('#imageshow').html("That file format is not supported")
    }else{
		$('#imageshow').html("")
		    var orientationt = null;
		  
		    var file = e.target.files[0];
		    loadImage.parseMetaData(file, function(data) {
		        if (data.exif) {
		            orientationt = data.exif.get('Orientation');
		          
		        }
		          var loadingImage = loadImage(
		            e.target.files[0],
		           
		            function(img) {
		                document.getElementById("imageshow").appendChild(img);
		    
		            }, {
		              maxWidth: 300,
		              maxHeight: 300,
		              minWidth: 100,
		              minHeight: 50,
		              orientation: orientationt,
		            }
		    
		          );
		    });
		          
		      if(orientationt != null){
		          
		        
		      }
		         
		    
	}
    })
    
    
    
    
        
</script>
</div>
                </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
            </div>

@Templates.jsDisabled()
    </body>
</html>