@(profile: Profile, tournament: List[Tournament])

<!DOCTYPE html>

<html>
    <head>
      @Templates.head()
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/userprofile.css")">
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
    <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
       @Templates.facebookHeadScript()

    </head>
    <body>
        <div data-role="page" data-theme="c">

            <div data-role="header">
                @Templates.header()
            </div>
        
            <div data-role="content">
            
            <div class="ui-grid-solo ui-responsive" >
              <div class="ui-block-a" >
                <img src="@routes.Assets.at("images/PROFILES.jpg")" alt="tPicture" class = "fullscreen" />
              </div>
            </div>
              
              <div style="text-align:center;">
                <br>
                <img src="/profilepic/@profile.username" id="avatarpic"style="width:100px; height:100px; ">
                <p><h2><b>@profile.username </b></h2></p>
              </div>
             

              <!-- <h1 align="center">@profile.username</h1> -->

            <div class="ui-grid-a ui-responsive">
              <div class="ui-block-a">
                <div class="formMyprofile" Style="border:none;float:right">
                

                <br>
              
                    <p><img src="@routes.Assets.at("images/skype.png")" style="width:30px; height:30px;margin-right:10px" >@profile.skypeID</p>

                    <p><img src="@routes.Assets.at("images/battleNet.png")" style="width:30px; height:30px;margin-right:10px" >@profile.battlenetID</p>

                    <p><img src="@routes.Assets.at("images/steam.png")" style="width:30px; height:30px;margin-right:10px" >@profile.steamID</p>

                    <p><img src="@routes.Assets.at("images/twitch.png")" style="width:30px; height:30px;margin-right:10px" >@profile.twitchID</p>
                        
                    <p><img src="@routes.Assets.at("images/play.png")" style="width:30px; height:30px;margin-right:10px" >@profile.uplayID</p>      
               

             
                    <div class="section">
                      <b><h3 style="margin:0" >About:</h3></b>
                      <textarea readonly cols="40" rows="8" name="about" id="about" placeholder="About">@profile.userbio</textarea>
                    </div>
                
                
                </div>
              </div>
              
              <div class="ui-block-b">
                <div class="formMyprofile2" style="float:right">
                  <p><b>CS:GO Rank:</b>      @profile.csgorank</p>  
                  <p><b>WoW 2v2 Rating:</b>      @profile.wow2v2rating</p>
                  <p><b>WoW 3v3 Rating:</b>      @profile.wow3v3rating</p>
                  <p><b>WoW 5v5 Rating:</b>      @profile.wow5v5rating</p>
                  <p><b>WoW RBG Rating:</b>      @profile.wowrbgrating</p>
                  <p><b>LoL Rank:</b>      @profile.lolrank</p>
                  <p><b>DOTA 2 MMR:</b>      @profile.dota2rank</p>
                  <p><b>Other Ranks:</b>      @profile.otherranks</p>
                  <br>
                  <br>
                  <br>

                </div>

              </div>
             </div> 

            <div class="ui-grid-solo ui-responsive" >
              <div class="ui-block-a" >
            


                    <div class ="tournamentMyProfile" id="joinedT">
                      
                      <div class="ui-grid-solo ui-responsive">
                        <br>
                        <br>
                        <div class="ui-block-a"><b><h3 style="margin:0" >Joined Tournaments:</h3></b></div>
                      </div>            
                      
                      <hr>
                      
                      <ul data-role="listview" data-inset="true" data-dividertheme="a" data-theme = "c"> 
                        @for(tournament <- tournament) {
                         
                                <li><a data-role = "button"  rel="external"  href="/showtournament/@tournament.tournamentID" class = "greyBtn"><img src="../assets/images/gamelogos/@tournament.logo" alt="Dreamhack" class = "fullscreen"  /><h2>@{tournament.tournamentname}</h2> <p>@{"Admin: " +  tournament.tournamentcreator }</p></a>
                            </li>
                            <li  data-role = "list-divider" style="background:transparent;border:none" ></li>
                         
                        } 
                        </ul> 
                    </div>



              </div>
     
            </div>

            </div>
            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>
    @Templates.jsDisabled()
    </body>
</html>