@(message: String)

<!DOCTYPE html>

<html>
    <head>
      @Templates.head()
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/userprofile.css")">
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
    <link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
       @Templates.facebookHeadScript()

    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">

            <div data-role="header" class = "header">
                @Templates.header()
            </div>
        
            <div data-role="content" class = "content">   
              </ul>

              <h1 align="center">User Profile</h1>
              <div class="section" Style="border:none">
                
                <div class="divLayoutcontact" Style = "width:20%" Style = "heigth:100%">
                  <img src="@routes.Assets.at("images/Avatars/avatarett.gif")" class = "fullscreen" id="avatarpic" onclick="changeImage()">

                  <div Style = "width:90%" Style="float:right">
                    <input type="button" data-icon="plus" value="Favourite" id="addfavourite">
                  </div>
                </div>
                
                   
                <div class="divLayoutcontact" Style = "width:80%">
                  <form name="contactInfoGenerate" >
                    <div data-role="fieldcontain">
                      <label for="username">Username:</label>
                      <input type="text" name="username" id="username" maxlength="30" placeholder="Placeholder"> 
                      <label for="skypeID">Skype:</label>
                      <input type="text" name="skypeID" id="skypeID" maxlength="30" placeholder="Placeholder">
                      <label for="seatMap">Seat:</label>
                      <input type="text" name="seatMap" id="seatMap" maxlength="30" placeholder="Placeholder">
                      <label for="battlenetID">Battle.net:</label>
                      <input type="text" name="battlenetID" id="battlenetID" maxlength="30" placeholder="Placeholder">
                      <label for="steamID">Steam:</label>
                      <input type="text" name="steamID" id="steamID" maxlength="30" placeholder="Placeholder">
                      <label for="twitchID">Twitch:</label>
                      <input type="text" name="twitchID" id="twitchID" maxlength="30" placeholder="Placeholder">
                      <label for="uplayID">UPlay:</label>
                      <input  type="text" name="uplayID" id="uplayID" maxlength="30" placeholder="Placeholder">
                    </div>
   
                  </div>
                </div>
                
                <div class="section">

                  <div data-role="fieldcontain">
                    <label for="favouritegames">Favourite Games:</label>
                    <textarea cols="40" rows="8" name="favouritegames" id="favouritegames" placeholder="Placeholder"></textarea>
                  </div>      
                </div>
         

                <div class="section">
                  <div data-role="fieldcontain">
                    <label for="about">About:</label>
                    <textarea cols="40" rows="8" name="about" id="about" placeholder="Placeholder"></textarea>
                  </div> 
                </div>
                </form>


                 <script>
                //   $('#addfavourite').click(function() {      // ska användas till att adda favorit. 
                //   window.location='/'; });
                 </script> 
            
            </div>


 
            @Templates.footer()
            @Templates.panelAndLogOut()

        </div>

    </body>
</html>