@(message: String)

<!DOCTYPE html>

<html>
    <head>
 
             @Templates.head()
             @Templates.facebookHeadScript()
    </head>
    <body>
         


        <div data-role="page" data-theme="b" class="page">   

                
            
        <div data-role="header" class = "header">
            @message
            @Templates.header()
        </div>
        <div data-role="content" class = "content">   
            </ul>
            <p>
            <h1 align="center">Testar</h1>
            

            Packlista test
            </p>


        </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
          
        </div>

    </body>
</html>