@(pictures: List[Picture], rowcount: Integer)
<!DOCTYPE html>
<html>
   <head>
      @Templates.head()
      @Templates.facebookHeadScript()
      <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ias.min.js")"></script>
   </head>
   <body>
      <div data-role="page" data-theme="b" class="page">
         <div data-role="header" class = "header">
            @Templates.header()
         </div>
         <div data-role="content" class = "content" >
            <h1 align="center">Photo Stream</h1>
            <div id="pagebuttons"></div>
            <div class = "search">
               <a data-role = "button" id = "btn2"  rel="external" href="/newpicture" data-icon="arrow-r" data-iconpos="right">Take and Upload a Picture</a>
            </div>
            <div id="outerpictures">
               <div class="innerpictures">
                  @for(pictures <- pictures) {
                  <button id="share_button@pictures.pictureID" class = "myFace faceButton search" data-mini="true">Facebook Share</button>
                  <p>Creator:   @pictures.creator </p>
                  <img id="@pictures.pictureID" src="/pic/@pictures.pictureID" /> 
                  <br>
                  <script>
                     $('#@pictures.pictureID').width(200);
                     $('#@pictures.pictureID').height(200);
                     
                     $('#share_button@pictures.pictureID').click(function(e) {
                         e.preventDefault();
                         FB.ui({
                           method: 'feed',
                           name: 'DreamSpace EArenaAds',
                           link: 'http://localhost:9000/pic/@pictures.pictureID',
                           caption: "EArenaAds" ,
                           description: ""
                         });
                       });
                  </script>
                  }
                  </ul>
               </div>
            </div>
            <script>
               var rowcount = @rowcount;
               var pageDecimal = rowcount / 10;
               var pages = Math.ceil(pageDecimal);
               
               $(document).ready(function() {
            	    if (rowcount > 1) {
                        $("#pagebuttons").append(rowcount + " Pictures");
                      }
                      else {
                        $("#pagebuttons").append(rowcount + " Picture");
                      }
                    })
                    $(document).ready(function() {
               var ias = jQuery.ias({
               	  container:  '#outerpictures',
               	  item:       '.innerpictures',
               	  pagination: '#pagination',
               	  next:       '.Next'
               	});
               
               
               
               var cPage;
               ias.on('load', function(event) {
            	   if(cPage > pages){
               		jQuery.ias().unbind();
               		$('.ias-spinner img:last-child').remove()
               		$('.ias-spinner').append("No more results")
               	}
                   var url = event.url;
                   url += cPage
               	event.url = url
               	
               })
               
               jQuery.ias().extension(new IASPagingExtension());
               jQuery.ias().on('pageChange', function(pageNum, scrollOffset, url) {
               	cPage = pageNum;
               });
               
               ias.extension(new IASSpinnerExtension({
                   src: "@routes.Assets.at("images/loading.gif")",
               }));
               });
               
               
            </script>
            <div id="pagination">
               <a href="?page=" class="Next" id="Next1">next</a>
            </div>
            <script>
               $("#btn2").css("background","  #FF9900");
            </script>
         </div>
         @Templates.footer()
         @Templates.panelAndLogOut()
      </div>
   </body>
</html>