@(pictures: List[Picture])

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
          @Templates.loadimage()
        @Templates.facebookHeadScript()
      
    </head>
    <body>
        <div data-role="page" data-theme="b" class="page">   
            <div data-role="header" class = "header">
                @Templates.header()
            </div>
            <div data-role="content" class = "content" >
                    <h1 align="center">Photo Stream</h1>
                    
                   @for(pictures <- pictures) {
                           
                               <p>Creator:   @pictures.creator </p> 
                               <div id="photo">
                               <p><img src="@routes.Assets.at(pictures.path)" id="@pictures.pictureID"></p>
                               </div>
<script type="text/javascript">
$('#@pictures.pictureID').width(500);
$('#@pictures.pictureID').height(500);
        
</script>

                      }
                    </ul>



                </div>
            @Templates.footer()
            @Templates.panelAndLogOut()
            </div>


    </body>
</html>