@(tournament: Tournament)

<!DOCTYPE html>

<html>
    <head>
        @Templates.head()
        <script src="@routes.Assets.at("javascripts/jquery.bracket.min.js")" type="text/javascript"></script>
		<link rel="stylesheet"  href="@routes.Assets.at("stylesheets/jquery.bracket.min.css")">
        @Templates.facebookHeadScript()
    </head>
    <body>
         

	
        <div data-role="page" data-theme="b" class="page">   
            <div data-role="header" class = "header">
                @Templates.header()
            </div>
        <div data-role="content" class = "content">   
            </ul>
            <p>
            <h1 align="center">This is not your tournament sir</h1>
            <div id="bracket"></div>


        </div>

            @Templates.footer()
            @Templates.panelAndLogOut()
 

        </div>

    </body>
</html>